[2012-08-29 09:54] idella opened #1 "oct2py-0.3.2 test failures."

[2012-09-27 13:23] MatthiasKauer opened #2 "oct2py c2d fails with "columns must match" error"
Hi,
I'm trying to use octave's c2d function to transfer a continuous time control system to a discrete one.
This seems to work fine as long as A, B are the same size. The code below however (where B is 2x1) fails however informing me that the numbers of columns must match (in the temporary .mat file, I assume)

I'm using scipy 0.9.0, python 2.7 (both installed from the ubuntu repos) and oct2py-0.3

[2012-12-31 12:21] klonuo opened #3 "Patch for hiding popup consoles on Windows"
Hi,

I didn't noticed Windows mentioned as tested platform, but it seems to work just fine. Only issue is that every Octave object spawns console window. This patch fixes it:

[code]

[2012-12-31 12:31] klonuo opened #4 "Octavemagic fails to deliver inline images in IPython (on Windows)"
I have necessary programs that output correctly for example `print -depsc` or `print -dsvg` ... from within Octave.

IPython extension works fine except for drawing inline images as shown in their [example notebook file](http://nbviewer.ipython.org/urls/raw.github.com/ipython/ipython/master/docs/examples/notebooks/octavemagic_extension.ipynb)

Problem seems to be backslashes in created temp file.

[2013-01-04 18:05] #3 closed, assigned to blink1073

[2013-01-04 18:07] #2 closed, assigned to blink1073

[2013-01-05 11:03] #4 closed, assigned to blink1073

[2013-01-06 05:31] klonuo opened #5 "return cell from octave"
[code]

Is this datatype not supported or I did something wrong?

[2013-01-07 19:55] #5 closed, assigned to blink1073

[2013-01-23 13:58] #1 closed, assigned to blink1073

[2013-04-30 17:00] astrojuanlu opened #6 "_get_doc fails when doc contains non-ascii characters"
This is because in here

https://github.com/blink1073/oct2py/blob/master/oct2py/_oct2py.py#L407

oct2py tries to eval `type {name}`, but as the doc might have non-ascii characters , here

https://github.com/blink1073/oct2py/blob/master/oct2py/_oct2py.py#L350

the error comes. I haven't gone deeper in the code logic so I have to ask: is there any particular reason to use 'ascii' in the decoding? Pr

[2013-05-02 08:11] #6 closed, assigned to nobody

[2013-05-05 02:02] bj0 opened #7 "Are .m functions cached?"
In an IPython notebook, I was testing a local function (local .m file) with the octavemagic extension. (the octavemagic extension uses oct2py)

I noticed that after editing the .m file, the results from IPython did not change until I restarted the kernel (restarts the python process).

Note that if you are in the octave terminal and call a function, the changes are present immediately.

This can b

[2013-05-05 09:31] astrojuanlu opened #8 "Redirecting output to logger"
I was wondering if I could redirect the output of Octave functions when using `verbose=True` to a logger and I saw the `get_log` function, but I am not sure if this fits my needs.

It seems that verbosity

https://github.com/blink1073/oct2py/blob/master/oct2py/_oct2py.py#L364

always just `print`s the line to the default standard out. Maybe the Oct2Py objects should log Octave's output and other m

[2013-05-09 21:05] graingert opened #9 "_utils._create_file should use contextual deletion"
_utils._create_file should use tempfile.NamedTemporaryFile with delete=True rather than an atexit.

This causes temp files to be deleted when the context (with) ends.

[2013-09-21 20:51] #8 closed, assigned to blink1073

[2013-09-21 20:52] #7 closed, assigned to blink1073

[2013-10-27 18:34] #9 closed, assigned to blink1073

[2013-10-27 18:38] blink1073 opened #12 "Add Coveralls Support"
https://coveralls.io/docs/api

[2013-10-27 18:38] blink1073 opened #13 "Add ReadTheDocs Support"
https://readthedocs.org/

[2013-10-27 18:53] blink1073 opened #14 "Add CrateIO Badge"
https://crate.io/packages/oct2py/

[2013-10-28 01:27] #14 closed, assigned to nobody

[2013-10-29 00:00] #12 closed, assigned to nobody

[2013-10-29 22:26] blink1073 opened #20 "Use the %octavemagic% approach to managing figures"
IPython/extensions/octavemagic.py, Line 191

[2013-11-02 03:36] #20 closed, assigned to nobody

[2013-11-15 02:20] blink1073 opened #25 "Add Wheel Support"
http://pythonwheels.com/

[2013-11-15 02:20] blink1073 opened #26 "Add Wheel Support"
http://pythonwheels.com/

[2013-11-15 02:20] #26 closed, assigned to nobody

[2013-11-15 03:35] #25 closed, assigned to nobody

[2013-12-16 22:08] moorepants opened #30 "Not able to addpath."
I'm trying to use oct2py with some custom m-files but I haven't been able to get your m-file examples to work.

First I create `/tmp/roundtrip.m' and then open IPython and run your example:

[code]

`octave.addpath` seems to return the path listing but it does not append (or prepend) the path I tried adding.

[2013-12-17 01:21] #30 closed, assigned to nobody

[2013-12-18 21:47] moorepants opened #32 "M files fail if you don't have a docstring"
It looks like if you don't provide a doc string in an m-file (comments right after the call signature), that the function call fails. If I remove the comment in roundtrip.m (from your example) I get this error when trying to use it:

[code]

You raise an error if the `_get_doc` call returns this:

[code]

Which seems to be raise on line 520 of session.py:

[code]

This shouldn't be raised on the f

[2013-12-18 22:49] moorepants opened #33 "keyboard command leaves user hanging"
I was wrapping an m-file with oct2py that would raise an error under a rare situation. The author of this file left a `keyboard` call in the code for debugging purposes. When you type `keyboard` in Octave you get a `debug>` prompt, but calling the function with oct2py just seems like it hangs. Not sure if you can propogate the `debug>` prompt or at least give the user a warning. Took me while to f

[2013-12-20 21:25] #33 closed, assigned to nobody

[2013-12-21 05:50] #32 closed, assigned to nobody

[2013-12-21 05:54] #13 closed, assigned to nobody

[2014-01-17 00:01] moorepants opened #35 "Tricks for Oct2Py on Travis"
Are there any tricks to getting oct2py to run on travis? I see you use the --exe flag with nose. I'm getting some errors in my setup: https://travis-ci.org/csu-hmc/Gait-Analysis-Toolkit/builds/17094900

Everything runs fine on my local machine.

[2014-01-20 12:53] #35 closed, assigned to nobody

[2014-01-22 15:33] Arfrever opened #36 "DeprecationWarning, ResourceWarnings"
Test suite of Oct2Py 1.3.0 triggers 1 DeprecationWarning and 2 ResourceWarnings (and 1 DeprecationWarning in IPython).
I use NumPy 1.8.0, SciPy 0.13.2, IPython 1.1.0.

[code]

[2014-01-22 15:41] Arfrever opened #37 "oct2py.tests.test_oct2py.test_plot(), oct2py.tests.test_oct2py.test_call_path() errors"
oct2py.tests.test_oct2py.test_plot(), oct2py.tests.test_oct2py.test_call_path() fail with errors with each Python version (2.7, 3.1, 3.2, 3.3).
I use Octave 3.6.4, NumPy 1.8.0, SciPy 0.13.2, IPython 1.1.0, Pexpect 3.0.

[code]

[2014-01-25 23:33] #36 closed, assigned to nobody

[2014-02-14 02:51] blink1073 opened #39 "Add test for long field names"
Leave a comment

[2014-02-25 19:53] Arfrever opened #40 "Errors and failures with Octave 3.8"
I recently upgraded Octave from 3.6.4 to 3.8.1 and now test suite of oct2py 1.3.0 has about 28 more errors and 2 more failures. New errors and failures occur with all versions of Python.

Example error (all new errors have the same Octave error):

[code]

2 new failures:

[code]

[2014-05-24 17:37] andrewclegg opened #44 "Tests failing in Python 3.4 on Ubuntu 12.04"
When I run

    python3.4 `which iptest3` --all -j

from a [Snake Charmer](https://github.com/andrewclegg/snake-charmer) VM, I get:

[code]

Steps:

Clone Snake Charmer: https://github.com/andrewclegg/snake-charmer.git

Checkout this revision (so as to avoid any confounding factors): 7d5e90e8b8816b0a28b037cf3094cdf4f24bf19f

Start up a VM: `vagrant up`

... wait about an hour ...

Log in to new VM

[2014-06-14 21:02] #39 closed, assigned to blink1073

[2014-06-19 01:31] #37 closed, assigned to nobody

[2014-06-19 01:31] #40 closed, assigned to nobody

[2014-07-02 01:59] blink1073 opened #45 "Octave Sessions not closing during tests (memory leak)"
The Octave sessions are becoming headless during the tests, consuming a lot of memory.   Also, if a python session is terminated using CTRL+Z, the octave session stays alive.

[2014-07-03 00:28] #45 closed, assigned to nobody

[2014-07-05 17:25] cel4 opened #46 "Octave getting killed in an improper way?"
Somewhere between 2046b6adea18a42b487788e4df2774b5c3fb9f16 and ecc28808a945d15dd5ff66fa5cb5d60e728b48df a new bug emerged:

The tests run fine, but it looks like as if octave gets killed in an improper way after that.

I get a huge non-python stacktrace (which I'm not able to catch at the moment :( )

This is among the many lines:

[code]

Sometimes I also get a python error:

[code]

[2014-07-06 21:36] #46 closed, assigned to nobody

[2014-07-10 16:41] meresmclr opened #49 "Clarification to documentation: 1-D vectors in Python default passed as row vectors via oct2py"
This is not a bug, but if I have a 1-D vector in Python, say
x.shape -> (256,)
this gets passed to octave with
size(x) -> (1,256)
This breaks functions where vector orientation is important.

Passing vectors from Python to Matlab requires explicitly defining the orientation by passing x as:
octave.myfunction(x[:,np.newaxis])
for a column vector

Looking further, this may be simply something that o

[2014-07-10 16:50] meresmclr opened #50 "Feature request: /run/shm instead of /tmp for .mat file passing"
Feature request:
for those of us using oct2py as a core piece of code, could we have the option to use /run/shm (RAM) instead of /tmp (HDD). This may substantially speed up a wide class of uses of oct2py with files big and small where seek or read/write speed is a bottleneck.

I'm sure it's in the source code somewhere, but making the directory used to pass .mat files an end-user parameter would b

[2014-07-13 00:43] #49 closed, assigned to nobody

[2014-07-13 14:25] #50 closed, assigned to nobody

[2014-08-19 08:33] cel4 opened #54 "Consider marking tests that depend on a gui."
I think it would make sense to mark tests that spawn a gui with a `gui` label to make it easy to disable those with nose.

This would only require the attr decorator from nose for each of those tests: `nose.plugins.attrib.attr`:

[code]

Excluding all those tests labelled with `gui`  would be as easy as running `nosetests -a '!gui'`

I can prepare a PR if you think that's a good idea.

[2014-09-09 18:41] schlichtanders opened #55 "ipython notebook using oct2py.ipython extension hangs"
this bug was already reported in some earlier version, see http://stackoverflow.com/questions/24999313/octave-hangs-in-ipython
it appeared now again to me with the new oct2py version 2.1

When I use ipython 2.2, octave 3.8, oct2py 2.1 on my Ubuntu 14.04 (everything well linked) simple tests like
[code]
hang in ipython notebook. The kernel is busy and nothing happens

I uninstall oct2py and install

[2014-09-11 03:54] #54 closed, assigned to nobody

[2014-09-22 06:01] efiring opened #56 "eval chokes on non-ascii character in help string"
The minimal example m-file,
ftp://currents.soest.hawaii.edu/pub/outgoing/bad_character.m
causes oct2py.octave.eval (and therefor all attempts at access via oct2py) to fail.  The culprit is a non-ascii character (used as an apostrophe) in the help string.
The traceback is not very helpful, but ends with a TypeError:

[code]

because line is None.  I suspect line is None because of some earlier enco

[2014-09-22 11:19] #56 closed, assigned to nobody

[2014-09-26 04:38] noahfx opened #58 "octavemagic license"
Hi,
As I told you before I am packaging oct2py to get it into Debian distribution.
Reviewing the licences one of my sponsors noticed that octavemagic is licensed under the New BSD license, this license  requires that the licence is actually present verbatim and that the licence holders are credited.

So I've made a pull request which includes the license https://github.com/blink1073/oct2py/pull/57

[2014-10-22 19:52] JonasSC opened #59 "Octave process do not exit after Oct2Py().exit()"
Hello

First of all, thank you very much for your effort in connecting Octave with Python! This has already helped me a lot.

But I think, there might be a bug in Oct2Py. On my computer the Octave processes are not ended, when the exit-method of the respective Oct2Py instance is called. Instead the Octave processes are marked as "<defunct>" when calling "ps -e" and live until the Python interprete

[2014-10-23 10:18] #59 closed, assigned to blink1073

[2014-10-29 20:58] gcapiel opened #60 "not compatible with celery"
making octave calls using oct2py during an async task with celery/redis hangs.

[2014-10-31 10:59] #60 closed, assigned to nobody

[2014-11-07 00:35] dhermes opened #61 "IPython notebook hangs"
Running the provided [sample](http://nbviewer.ipython.org/github/blink1073/oct2py/blob/master/example/octavemagic_extension.ipynb) causes my entire machine (not just the example) to hang when using the subplot examples.

Machine info:

[code]

[2014-12-07 21:28] Dr-Drive opened #62 "Oct2py Libmmd.dll and libifcoremd.dll issues with PythonXY"
Hello,

The oct2py initializer **init**.py looks for dlls no longer existing in the numpy package directory in Python(x,y)-2.7.6.1. These dlls are libmmd.dll and libifcoremd.dll.

[code]

I resolved by copying dlls from [Python27 root]/DLLs to [numpy package root]/core but oct2py should no longer look for these dlls in the above location.

[2014-12-09 02:36] #62 closed, assigned to blink1073

[2014-12-16 18:21] spinningplates opened #63 "Oct2py hangs in Windows"
Oct2py hangs in Windows after importing "octave" in either Python or IPython in Windows command line.  Currently using Windows 7, Python 2.7.8, Anaconda 2.1.0, oct2py 2.4.0.  It also hangs during the nosetests after cloning the repo.

[2015-01-01 01:09] cancan101 opened #64 "Using keyword arguments causes parameter names used in calling"
If I write:
[code]

The generated M code looks like:
[code]
which is not desired. Ideally if keyword arguments are not supported, an exception should be raised to the user.

The correct Python is to drop the keyword arguments and use positional arguments:
[code]
leading to:
[code]

[2015-01-01 01:12] cancan101 opened #65 "octavemagic and addpath"
How do I use the `octavemagic` in IPython Notebook along with `addpath`?

This works:
[code]

but then this:
[code]
leads to:
[code]

[2015-01-01 02:39] blink1073 commented on #64
@cancan101, sorry for the confusion.  The keyword args are meant to emulate *Octave* keyword args, and the behaviour you saw reflects this fact.  If you can certainly call `octave.monofilt(a, 3, 4, 2, 0.65)` directly.

[2015-01-01 02:41] blink1073 commented on #65
@cancan101, `from oct2py import octave` gives you an *instance* of `Oct2Py`, which is not the same as the one used by the octavemagic, so you'd have to use `%octave addpath('/home/ubuntu/Downloads/')` to get your desired result.

[2015-01-01 03:48] blink1073 commented on #65
I switched it to use `octave` by default in 7d560101a06bb9d379b48e26faca90407ff22724, so it will be less confusing in the next release.

[2015-01-01 03:49] blink1073 commented on #64
I updated the [docs](http://blink1073.github.io/oct2py/source/info.html#dynamic-functions) as well.

[2015-01-01 16:31] cancan101 commented on #65
I just tested the dev code out and it works great.

[2015-01-01 18:12] cancan101 opened #66 "Capturing Multiple Returns"
I have a function that looks like:
[code]
Doing this:
[code]
yields only the `f` return value. How do I capture the remaining values?

[2015-01-01 20:32] blink1073 commented on #66
Nargout is inferred by oct2py, so you need to put all of the variables on the lhs.

[2015-01-02 01:37] cancan101 commented on #66
This does not seem to work either:
[code]

[2015-01-02 02:01] blink1073 commented on #66
Whoops, I was thinking from a direct command perspective.  You need to use the `-o` option for the magic.  Try:

[code]

[2015-01-02 02:06] cancan101 commented on #66
That worked.
So the first argument is automatically / implicitly copied from Octave to Python but the remaining but be specified?

[2015-01-02 02:14] blink1073 commented on #66
When you call a method of an Oct2Py object or `eval`, the number of items on the LHS is reflectwd in the call to Octave, but if there aren't any then `ans` is caputured. The magic works differently to be consistent with other magics.

[2015-01-02 02:16] cancan101 commented on #66
This might be related to that. I am getting different results for these two different calls:
[code]
vs this:
[code]

[2015-01-02 02:25] blink1073 commented on #66
So in the first case nargout is 1, is that the expect output?  For the second, you need to put a semicolon after the function call to suppress the output since it is `eval`ed.  Otherwise, are those the expected outputs when nargout=6?

[2015-01-02 02:50] cancan101 commented on #66
Ok. Adding the semicolon to improve readability:
[code]

All 0s is not the expected output.

The second case it my reference and I believe the values look good.

[2015-01-02 03:09] cancan101 commented on #66
Actually on closer inspection, I do not think this is working right:
[code]

[2015-01-02 03:20] blink1073 commented on #66
I don't think you can define an input and use it in the same block.  Same for output.

[2015-01-02 03:24] cancan101 commented on #66
Still does not look to work:
[code]

[2015-01-02 03:29] blink1073 commented on #66
Hmm, try with no space after `-o`

[2015-01-02 03:30] cancan101 commented on #66
Nope. Using the `roundtrip` from the docs (with semicolons added to assignments):
[code]

[2015-01-02 04:02] blink1073 commented on #66
Ah, I finally see the problem with the magic:

[code]
or without using magic:

[code]

[2015-01-02 04:04] blink1073 commented on #66
Whoops, you'll need brackets:

[code]

[2015-01-02 04:06] blink1073 commented on #66
Time to add a few more examples to the [notebook](http://nbviewer.ipython.org/github/blink1073/oct2py/blob/master/example/octavemagic_extension.ipynb?create=1) methinks...

[2015-01-02 04:07] cancan101 commented on #66
Should be:
[code]

[2015-01-02 04:09] cancan101 commented on #66
The example without the magic does not work:
[code]

[2015-01-02 16:04] blink1073 commented on #66
I'm not sure what to say about the non-magic version not working.  It is getting the right number of nargout...   Can you share the `monofilt` function?

[2015-01-02 19:24] cancan101 commented on #66
http://www.csse.uwa.edu.au/~pk/research/matlabfns/PhaseCongruency/monofilt.m

[2015-01-03 02:53] blink1073 commented on #66
We've exposed a source of friction.  Oct2Py sends integers to Octave as integer type, since they are interpreted as such by numpy. The following works:

[code]

[2015-01-03 04:08] cancan101 commented on #66
Why does the magic version perform differently?

On Fri, Jan 2, 2015, 21:53 Steven Silvester <notifications@github.com>
wrote:

[2015-01-03 04:15] blink1073 commented on #66
In the magic version, everything is wrapped in octave.eval, so the arguments are sent as plain text, instead of through a MAT file.

—
Sent from Mailbox

On Fri, Jan 2, 2015 at 10:08 PM, Alex Rothberg <notifications@github.com>
wrote:

[2015-01-03 04:27] cancan101 commented on #66
Okay. If that fact isn't in the docs, it would be worth adding it. I
assumed the two worked using the same mechanism.

On Fri Jan 02 2015 at 11:15:49 PM Steven Silvester <notifications@github.com>
wrote:

[2015-01-04 21:44] cancan101 commented on #66
Something else is still not right between these two.
I download this file: http://4.bp.blogspot.com/-ruV5mllFtxA/TjosZziIddI/AAAAAAAAAIw/o8aU8O1ZfqM/s1600/BlackWhite.gif
and then load it using:
[code]

This takes a few seconds:
[code]
but this never returns / takes a VERY long time:
[code]

[2015-01-05 03:00] blink1073 commented on #66
Thanks for the feedback.   The problem was that the output was not suppressed on the second version, causing it to print a *lot* to the console.  I'm going to release version `3.0` that converts `int -> float` by default and suppresses that output (hopefully by this weekend).

[2015-01-05 15:19] spinningplates commented on #63
I've just confirmed that the 2.4.2 release works.  Thanks!

[2015-01-05 18:46] blink1073 commented on #63
Great!  You're very welcome!

[2015-01-05 18:46] #63 closed

[2015-01-10 21:10] blink1073 commented on #66
I just released 3.0, which fixes this issue.

[2015-01-10 21:10] #66 closed

[2015-01-10 21:10] blink1073 commented on #65
Fixed in 3.0.

[2015-01-10 21:10] #65 closed

[2015-01-10 21:10] blink1073 commented on #64
Fixed in 3.0.

[2015-01-10 21:10] #64 closed

[2015-01-10 21:11] #58 closed

[2015-01-10 21:11] blink1073 commented on #55
Fixed in 3.0.

[2015-01-10 21:11] #55 closed

[2015-01-10 21:12] blink1073 commented on #44
Fixed upstream.

[2015-01-10 21:12] #44 closed

[2015-02-11 07:51] nils-werner opened #67 "Too aggressively deleting tmpfiles"
I am currently trying to run several oct2py-utilising processes in parallel and they start interfering because they delete each other's MAT files. I noticed that you're running a very aggressive cleanup method:

    def _remove_temp_files(dirname):
        """
        Remove the created mat files in the user's temp folder
        """
        import os
        import glob

        for fname in glob

[2015-02-11 09:31] blink1073 commented on #67
Thanks for pointing that out.  It will require a bit of restructuring, but your solution sounds good.

[2015-02-12 14:26] blink1073 commented on #67
@nils-werner, it should be fixed now in the latest master if you'd like to try it out.  I plan to make another release this weekend.

[2015-02-27 00:41] blink1073 commented on #67
Closing as fixed.

[2015-02-27 00:41] #67 closed

[2015-03-16 14:53] neotheicebird opened #69 "datatype of empty string returned is <u1"
function x = return_empty_str()
    x=''

this function when called by Oct2py returns:

    array([], dtype='<U1')

while

    function x = return_empty_str()
    x='foo'

when called gives

    u'foo'

Why don't we get `u''` in the first case?

*Oct2py version 3.1.0, python version 2.7*

[2015-03-17 02:53] #69 closed

[2015-03-17 02:53] blink1073 commented on #69
Good point, thanks, fixed!

[2015-03-17 17:06] neotheicebird commented on #69
awesome!

[2015-05-25 05:56] mabelcalim opened #70 "OSX maverick issue"
Hi,
I'm using the oct2py in OSX Maverick, and I don't know how to fix this issue:

import oct2py

ImportError: dlopen(/Users/usuario/src/scipy/scipy/special/_ufuncs.so, 2): Library not loaded: /usr/local/lib/gcc/x86_64-apple-darwin13.3.0/4.9.1/libgfortran.3.dylib
  Referenced from: /Users/usuario/src/scipy/scipy/special/_ufuncs.so
  Reason: image not found

I downloaded octave: brew install octave

[2015-05-25 07:18] moorepants commented on #70
NumPy and SciPy are dependencies of oct2py. Do you have them installed?

[2015-05-25 22:37] blink1073 commented on #70
@mabelcalim, specifically, do you see the same error with `python -c "import scipy"` from the command line?

[2015-05-25 23:48] mabelcalim commented on #70
Hi,

you guys were right. The scipy was installed via pip and the brew, then there
was conflict.
I just uninstall scipy and install it again and everything just work fine
now.
Thanks!
Cheers
Mabel

On 26 May 2015 at 08:37, Steven Silvester <notifications@github.com> wrote:

--
------------------------------------------------------------------------

*Mabel Calim Costa*CSIRO / Australia
+61 0431593

[2015-05-26 01:08] blink1073 commented on #70
Great, happy coding!

[2015-05-26 01:08] #70 closed

[2015-06-14 10:09] markuman opened #71 "Octave 4 starts in GUI mode"
This will start 2 Octave gui sessions...
Is there any option to call `octave-cli` instead?

[2015-06-14 10:21] markuman opened #72 "calling octave asynchronously"
from oct2py import Oct2Py
    oct1 = Oct2Py()
    oct2 = Oct2Py()
    ret = oct1.eval('pause(10)')

This will block the process for 10 seconds. Is there any way to call it asynchronously and check later `ret.done()` if `oct1` is done? This is how the official matlab python engine works.

[2015-06-14 15:24] blink1073 commented on #72
You'll have to use threading or separate processes to achieve what you want.  See `https://github.com/blink1073/oct2py/blob/master/oct2py/thread_check.py` for an example.

[2015-06-14 15:24] #72 closed

[2015-06-14 15:26] blink1073 commented on #71
Older versions of Octave do not have an `octave-cli` executable.  You can use the `executable` argument to use `octave-cli`.  https://github.com/blink1073/oct2py/blob/master/oct2py/core.py#L51

[2015-06-18 20:54] blink1073 commented on #71
@markuman, if you upgrade to 3.2.0, you can set an OCTAVE environment variable to point to `octave-cli`.

[2015-07-02 13:01] ocefpaf opened #73 "oct2py hangs when called via nosetests or py.tests on python 2.7"
Hi,

I have a weird testing framework to compare the results of a python library with a MatlabTM library.  The tests runs just fine on Python 3, but hangs on Python 2.   Here is a gist of the code:

[code]

Note that everything works fine for Python2 when called outside `nose` or `pytest`.

Here is the full travis log:

https://travis-ci.org/pyoceans/python-seawater/builds/69282280

[2015-07-02 22:15] blink1073 commented on #73
Hi @ocefpaf, nothing jumps out at me as you while your build would fail, unless `__file__` is not what you think it is.  Perhaps print the value of `path` so it shows up in the error report?  You might also try breaking the first command into two parts, I'm not sure I've tested a nested call as the first call (though I'll go ahead and do that in light of this question).

[code]

[2015-07-03 09:57] ocefpaf commented on #73
Thanks for the quick response!

unless __file__ is not what you think it is. Perhaps print the value of
path so it shows up in the error report?

Printing displays the directory as expected.

You might also try breaking the first command into two parts, I'm not sure
I've tested a nested call as the first call (though I'll go ahead and do
that in light of this question).

I will try that as soon as

[2015-07-03 12:19] blink1073 commented on #73
I meant that `__file__` could be different when using a test runner.

[2015-07-05 21:10] ocefpaf commented on #73
I ~~debugged~~ printed it while using the test runner.  If I omit the line `genpath = octave.genpath(path)` it prints the right thing.  If I run the code "as is" it hangs and nothing gets printed, not even the calls before that line!  My knowledge of test runner is very limited to understand what happens under the hood.

This might not be oct2py's fault...  So I am closing this until I find some t

[2015-07-05 21:10] #73 closed

[2015-07-06 03:29] blink1073 commented on #73
I ran a similar check where the first call was nested, and it passed on Python 2.7, so I am at a loss, unless the combination of the two commands was taking longer than 3 seconds in your build...

[2015-07-06 13:24] ocefpaf commented on #73
Nope, it hangs forever.  The 3 seconds I introduced to avoid waiting.

[2015-07-06 18:19] blink1073 commented on #73
Darn.

[2015-07-08 17:47] KainoaCulverhouse opened #74 "oct2py imports octave but hangs when calling an octave function."
Hi,

I am using Linux CentOS6.6 Operating System and use Python 2.6 when trying to communicate with octave. I use Python2.6 because when I installed oct2py ('pip install oct2py') the package installed in the same path as Python2.6. As for octave, I am running octave 4.0.0 which is also in the same path as python2.6 (both in '/usr/bin') (I believe that means they are in the same path, I am not sure

[2015-07-08 22:23] blink1073 commented on #74
Hi @KainoaCulverhouse, unfortunately the default behavior for the new Octave has changed (loading a GUI), and I have not yet figured out a backwards-compatible way of handling it.  In the meantime, you can point to the new `octave-cli` program using `from oct2py import Oct2Py; octave = Oct2Py(executable=<path_to_octave_cli_executable>)`.

[2015-07-09 16:53] KainoaCulverhouse commented on #74
Hello @blink1073, thank you for the reply I appreciate it. I followed your instructions and resulted in the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.6/site-packages/oct2py/core.py", line 592, in __getattr__
    doc = self._get_doc(name)
  File "/usr/lib/python2.6/site-packages/oct2py/core.py", line 553, in _get_doc
    verb

[2015-07-09 21:03] blink1073 commented on #74
Ah, sorry, I missed the fact that you were using python2.6.  I no longer support Python 2.6, because it lacks too many features I've come to rely on, including `subprocess.check_output`.  Do you have the ability to install the Software Collections Library on your system?

http://wiki.centos.org/AdditionalResources/Repositories/SCL

[2015-07-10 13:40] KainoaCulverhouse commented on #74
Hi @blink1073, thank you for the response I appreciate it.

[2015-07-10 13:41] KainoaCulverhouse commented on #74
Hi @blink1073, thank you for the response I appreciate it.

[2015-07-10 13:51] KainoaCulverhouse commented on #74
I installed the library.

 I have previously installed the 'pip' package to install the oct2py package. However, the packages seam to only be associated with python2.6, would you have any recommendations how I can go about having oct2py 'point to' or communicate with python3.3 rather than python2.6?

[2015-07-10 16:46] KainoaCulverhouse commented on #74
Nevermind. I figured it out and have python2.7 calling functions from octave using the first step you suggested.

Appreciate the help.

[2015-07-10 16:57] blink1073 commented on #74
No problem!

[2015-07-10 16:57] #74 closed

[2015-07-12 21:20] moorepants commented on #71
Just a note: I think Octave shouldn't have done this. It is backwards incompatible in a big way. Maybe we should make a bug report to Octave.

[2015-07-13 00:26] blink1073 commented on #71
Can either of you try the latest development version with Octave 4.0 and let me know if this shows a plot?  It works in 3.8, but I don't have access to 4.0.

[code]

[2015-07-13 19:21] markuman commented on #71
hm is seems to hang here ...nothing happens.
It it possible to change the graphic_toolkit before triggering `octave.plot([1 2 3])`?

[2015-07-13 19:28] blink1073 commented on #71
@markuman, what OS and Octave version are you using?

[2015-07-13 19:33] markuman commented on #71
GNU Octave Version: 4.0.0 on Arch Linux.

    ans = gnuplot

    ans =
    {
      [1,1] = fltk
      [1,2] = gnuplot
      [1,3] = qt
    }

Note that `qt` is only available when starting octave with its new GUI.

[2015-07-13 19:39] markuman commented on #71
Wait, I've misread. I haven't current dev version of oct2py....have to build first

[2015-07-13 19:43] markuman commented on #71
It works fine for me. Furthermore the GUI doesn't appear anymore! good work.

![bildschirmfoto von 2015-07-13 21-58-03](https://cloud.githubusercontent.com/assets/3920157/8659039/29ebab0e-29a8-11e5-8361-2e0af350a47c.png)

[2015-07-13 19:44] blink1073 commented on #71
Success!  I expect to have a new release ready this weekend.

[2015-07-13 19:46] markuman commented on #71
Something happens when hitting ctrl+D

    *** Error in `/home/markus/.local/libexec/octave/4.0.0/exec/x86_64-unknown-linux-gnu/octave-gui': double free or corruption (fasttop): 0x00007fdef4b57050 ***
    ======= Backtrace: =========
    /usr/lib/libc.so.6(+0x71bad)[0x7fdf186d6bad]
    /usr/lib/libc.so.6(+0x770fe)[0x7fdf186dc0fe]
    /usr/lib/libc.so.6(+0x778db)[0x7fdf186dc8db]
    /home/markus/.l

[2015-07-13 19:47] markuman commented on #71
hmmm I cannot reproduce this

[2015-07-13 19:48] blink1073 commented on #71
So it happened just the one time?

[2015-07-13 19:49] markuman commented on #71
yes

[2015-07-13 19:53] blink1073 commented on #71
Those type of errors creep up from time to time, I'm not sure it is an interaction with Python that is causing the problem (I don't use Octave directly).

[2015-07-15 15:58] KainoaCulverhouse opened #75 "Returning a data structure using oct2py in Python 2.7"
Hello,

I am attempting to return a data structure using a custom function in Octave-4.0.0 and calling it in python.

In octave I wrote a simple function to return a structure:

function y = f(a,b)
y.a = a;
y.b = b;
endfunction

when I use the function in the octave command window the following happens as expected:

y = f(1,2)
y =

  scalar structure containing the fields:

    a =  1
    b =  2

[2015-07-15 17:09] blink1073 commented on #75
I think this bug is solvable, I'll take a look tonight.

[2015-07-15 17:10] blink1073 commented on #75
(note: this is a bug in Oct2Py, I don't think there's anything you can do differently), and thanks for the report @KainoaCulverhouse!

[2015-07-15 19:17] KainoaCulverhouse commented on #75
Thank You @blink1073 ,

My suggestion may or may not help but im understanding that y is returned as a data type struct rather than a float. Im trying to see if its possible to convert a struct to a float in octave (no idea if thats possible) because maybe 'dtype' is looking for a float64 rather than a struct.

[2015-07-15 19:57] blink1073 commented on #75
@KainoaCulverhouse, Oct2Py does support Octave structs.  In this case I think it has more to do with the shape of the data.  I'll test against your specific data and add it to the test suite, once I figure out the bug.

[2015-07-15 19:58] KainoaCulverhouse commented on #75
okay @blink1073 i appreciate it

[2015-07-16 02:28] blink1073 commented on #75
Strange, it works for me (I called it testfunc):

[code]

What version of Oct2Py are you using:  `oct2py.__version__`?

[2015-07-16 13:22] KainoaCulverhouse commented on #75
I am using version 3.2.0

[2015-07-16 15:26] KainoaCulverhouse commented on #75
strange, I also get the same error if I simply call '>>> octave.struct()'.

[2015-07-17 02:15] blink1073 commented on #75
Ah, I get the error now when calling `octave.struct()`, that should help me fix the bug...

[2015-07-17 02:26] blink1073 commented on #75
Okay, both should be fixed.  You can try using the latest development version, or wait until the next release (should be this weekend).

[2015-07-17 04:07] blink1073 commented on #71
This should be fixed in 3.3 (just released).

[2015-07-17 04:07] blink1073 commented on #75
And now released!

[2015-09-04 09:02] gunjannaik opened #76 "Windows 145 error: Directory is not empty in core.py shutil.rmtree"
I am using oct2py with Anaconda distribution. Sometime I am getting an error as 'WindowsError: [Error 145] The directory is not empty "path of temporary directory" '. I checked the temporary folder and it is empty. How to solve this issue?

[2015-09-04 13:24] blink1073 commented on #76
Thanks for the report @gunjannaik, I just released a new version to address this, can you try `pip install -U oct2py`?

[2015-10-20 20:05] jlec opened #77 "FAIL: Testing help command"
[code]
octpy-3.3.3

[2015-11-02 12:39] uozden commented on #63
Dear Blink1075
Which version of oct2py does work with Octave 4.0.0 on Windows ?
Thanks in advance

[2015-11-02 12:41] uozden opened #78 "Oct2py version for Ocate ver 4.0.0"
Dear Blink1075
Which version of oct2py does work with Octave 4.0.0 on Windows ?
Thanks in advance

[2015-11-02 13:31] blink1073 commented on #78
Hi @uozden, the latest version (3.3.3) should work with Octave 4.0.  You can install it as `pip install -U oct2py`

[2015-11-02 14:13] uozden commented on #78
Dear Blink1075,
Thank you very much for your promt response. I right away will install  ver.3.3.3.
Regards

[2015-11-02 15:40] uozden commented on #78
Dear blink1073
As you suggested I installed oct2py ver 3.3.3 on Windows 10, with Python ver 3.4. Test your 2 commands and gave the following errors. " ..CalledProcessError: Command '['octave', '--version']' returned non-zero exit status 3221225785.."Thank you for your help.

import oct2py
Traceback (most recent call last):

  File "<ipython-input-1-3615f4c3421b>", line 1, in <module>
    import oc

[2015-11-02 19:21] blink1073 commented on #78
@uozden, it looks like `octave` is not recognized as a command in your environment.  You can follow the instructions [here](http://blink1073.github.io/oct2py/source/installation.html#gnu-octave-installation) for how to set it up.

[2015-11-03 11:57] uozden commented on #78
Dear Steven,
Thanks for reverting us. We have set it up s as suggested in the link. Also to tested by typing octave in a command window . Octave started with GUI (ver .4.0.0).However I  am still getting the same error of " CalledProcessError: Command '['octave', '--version']' returned non-zero exit status 3221225785". What would you suggest to do ?. Regards.

[2015-11-03 14:35] blink1073 commented on #78
And running `python -c "import oct2py"` from that same command line shows the error?

You could also try: `python -c "import subprocess; subprocess.check_output(['octave', '--version'])"`

[2015-11-03 15:42] uozden commented on #78
Dear Steven,
Tried both command at the command line and gave the same error as follows. Thanks for your helop as oct2py is important package for me if I can run it.
" “Check output raise: CalledProcessError(retcode, process.args, outpot=outpu)
Subprocess.CalledProcessError: Command ‘[ ‘octave’, ‘—version’] return non-zero exit status 3221225785”
I am using “ WinPython -32bit 3.4.3.6 “  and Octave

[2015-11-03 18:41] blink1073 commented on #78
You should add just the path to the directory “C:.......\Octave-4.0.0\bin”, which should pick up `bin\octave.exe`.

[2015-11-03 18:44] blink1073 commented on #78
Another option is to use the `OCTAVE` environment variable, which `oct2py` recognizes, and try setting it to the full path of each of those executable files and see if one works.

[2015-11-04 10:04] RiyanshKarani01235 opened #79 "ipython hangs after loading octavemagic"
Hello, here is the problem I have been facing for a while now and it would be very kind of you if you could solve this, since i need to run octave commands from Ipython notebook.
when I type the following command in Ipython notebook :
%load_ext oct2py.ipython
3 to 4 octave cli windows open up

after this, when I type any octave command (eg : %octave x = [1 2];), ipython notebook hangs.

i am using

[2015-11-04 14:30] blink1073 commented on #79
Hi @ironstein1994, can you tell me your operating system and the output of `import oct2py; oct2py.__version__`.?

[2015-11-04 14:52] ironstein1994 commented on #79
@blink1073 thanks for replying.
My operating system is Mac osx 10.11.1

'3.3.3'

[2015-11-04 14:56] blink1073 commented on #79
Hmm, I have a nearly identical setup:

octave-3.8.0
oct2py 3.3.3
notebook 4.06
python 3.4.3
OSX 10.10.5

I tried your code above and it works just fine.  Is it printing anything in the terminal that you launch the notebook from?

[2015-11-04 15:23] ironstein1994 commented on #79
@blink1073 when I run the command, a lot of octave terminals open up.vis that normal ?

[2015-11-04 20:30] blink1073 commented on #79
No, I wonder if it is El Capitan causing trouble. 

—
Sent from Mailbox

On Wed, Nov 4, 2015 at 10:23 AM, Ironstein <notifications@github.com>
wrote:

[2015-12-02 06:32] glenflet opened #80 "Octave Classes unusable from Python"
Consider the following example

[code]

I can't call the classes methods from python, because oct2py returns a Struct Object,

Why Can't a dynamic python Class be created.

`__getattr__`, and `__getitem__` can be mapped to octave.

hence

[code]

would be the same as

[code]

Pesudocode for `__getattr__`

[code]

Attributes could also be accessed as a dict like Struct, but not methods.

`getmethod

[2015-12-02 15:27] blink1073 commented on #80
Hi @glenflet, thanks for the suggestion.  I don't have the bandwidth at the moment to implement it.

[2015-12-14 18:12] conradek opened #81 "Save plot fails"
Consider:

[code]

I can run the above code successfully in either Octave or from this Python code:

[code]

However, if I uncomment either the saveas or print command, oct2py throws an exception:

Traceback (most recent call last):
  File "subplot_test.py", line 4, in <module>
    oc.eval("subplot_test()")
  File "C:\Python27\Lib\site-packages\oct2py\core.py", line 284, in eval
    post_call=post

[2015-12-15 00:41] blink1073 commented on #81
Hmm, I'm afraid I'm not sure what could be causing that.  I was able to create a plot file from your code, but I'm using OSX.  I'll take a look next time I log on to a Windows machine.

[2015-12-15 02:05] conradek commented on #81
Glad you could generate a plot.  On OS X, could you also save a plot?

[2015-12-15 02:10] blink1073 commented on #81
Yes, I had to use an svg extension (quirk of the OSX version), but yes, I get an image.

[2016-01-06 22:54] ernest2015 opened #82 "oct2py problems with Octave4.0"
Hello,
I have a problem with oct2py and Octave4.0 connection. Theese basic ommands complain that octave couldn't be found:

from oct2py import Oct2Py
oc = Oct2Py()

It tries to run a graphical version of python and then hang up.

I think the main problem causes Octave 4.0.0 because a command octave inside bin folder by default (without parameters) run a GUI version of Octave, but oct2py always run

[2016-01-07 14:18] roel0 opened #83 "print plot to file gives unexpected error"
When you do the following:

[code]

and execute in octave (gui or client) everything works fine.

But when I try to run the same script in the same environment with oct2py:

[code]
My python script:

[code]

Additional info:
-gnuplot is used
-oct2py is latest version
-octave is latest version
-windows

[2016-01-07 14:25] roel0 commented on #83
Was apparently already mentioned in #81

[2016-01-09 13:36] blink1073 commented on #82
Hi @ernest2015, you can set the `OCTAVE_EXECUTABLE` environment variable to be the path to `octave-cli-4.0.0.exe`.

[2016-01-09 13:37] blink1073 commented on #83
Yes, I haven't had a chance to test this on a Windows machine.

[2016-01-09 16:23] blink1073 commented on #78
Closing due to lack of feedback, fail free to reopen.

[2016-01-09 16:23] #78 closed

[2016-01-09 16:23] blink1073 commented on #71
Closing as fixed.

[2016-01-09 16:23] #71 closed

[2016-01-09 16:24] blink1073 commented on #75
Closing as fixed.

[2016-01-09 16:24] #75 closed

[2016-01-09 16:24] blink1073 commented on #79
@ironstein1994, do you mind trying with the latest release (3.4)?

[2016-01-09 16:25] blink1073 commented on #82
Hi @ernest2015, do you mind trying with the latest release (3.4)?

[2016-01-21 13:58] dalito commented on #82
I am not ernest2015, but I can confirm that oct2py 3.4.0 works with Octave 4.0 on Windows 7 when setting the environment variable OCTAVE_EXECUTABLE as you wrote.

[2016-01-21 14:07] blink1073 commented on #82
Thanks @dalito, I'll close this one.  @ernest2015, feel free to reopen if need be.

[2016-01-21 14:07] #82 closed

[2016-01-23 09:45] dalito opened #84 "Renaming(?) speed_check -- speed_test"
I recognised that the documentation as well as parts of the code in version 3.4.0 and current master refer to speed_test which was obviously renamed to speed_check.

See e.g.
http://blink1073.github.io/oct2py/source/info.html?highlight=speed#speed
https://github.com/blink1073/oct2py/blob/master/oct2py/__init__.py#L26

BTW, thank you very much for making oct2py available. I discovered it this week

[2016-01-23 13:57] blink1073 commented on #84
Thanks, I'm glad you have found it useful!  Fixed and released `3.4.1`.

[2016-01-23 13:57] #84 closed

[2016-01-23 14:15] blink1073 commented on #76
Closing due to lack of response, feel free to reopen if this is still an issue @gunjannaik.

[2016-01-23 14:15] #76 closed

[2016-01-23 15:04] blink1073 commented on #83
@roel0, I just released 3.5 which should fix this, can you confirm?

[2016-01-23 15:05] blink1073 commented on #81
@conradek,  I just released 3.5 which should fix this, can you confirm?

[2016-01-23 15:07] blink1073 commented on #77
Hi @jlec, sorry, I missed this report.  It looks like you're either missing the Octave documentation or the documentation is slightly different on your installation.  I'd consider this a non-issue for oct2py.

[2016-01-23 15:07] #77 closed

[2016-01-23 15:08] blink1073 commented on #61
Hi @dhermes, would you care to try this with the latest version (3.5) and see if it works for you?

[2016-01-23 15:08] blink1073 commented on #83
Closing this one, since it is a duplicate of #81.

[2016-01-23 15:08] #83 closed

[2016-01-25 07:26] roel0 commented on #83
I can confirm that version 3.5 resolves the problem!

[2016-01-25 14:29] blink1073 commented on #83
Great, thanks @roel0!

[2016-02-22 13:28] gunjannaik commented on #76
Thanks @blink1073 ...Sorry I forget to close it.

[2016-02-29 20:55] toast216 opened #85 "Oct2py AttributeError: 'module' object has no attribute 'getgroups'"
Might be a stupid question with a really simple answer. I have set the exec path and opening cmd and typing octave opens up octave. But when running in python I get the error AttributeError: 'module' object has no attribute 'getgroups'.

Python 2.7
Octave 4.0.0

[2016-02-29 20:56] blink1073 commented on #85
Hi @toast216, can you print the code and full traceback?

[2016-02-29 20:57] toast216 commented on #85
File "C:\Users\Raph\Anaconda2\lib\site-packages\spyderlib\widgets\externalshell\sitecustomize.py", line 699, in runfile
    execfile(filename, namespace)

  File "C:\Users\Raph\Anaconda2\lib\site-packages\spyderlib\widgets\externalshell\sitecustomize.py", line 74, in execfile
    exec(compile(scripttext, filename, 'exec'), glob, loc)

  File "C:/Users/Raph/Documents/Python Scripts/Reading In Raste

[2016-02-29 20:58] blink1073 commented on #85
Yep, that is a bug, looks like `os.getgroups` is Unix only.  I'll fix it tonight.

[2016-02-29 21:00] toast216 commented on #85
Awesome! Thanks! I was going crazy trying to find out what was wrong!

[2016-02-29 21:11] toast216 commented on #85
Quick question: How was everyone else able to run python + oct2py + windows before this? Because it seems like it generated in the import?

[2016-03-01 01:53] blink1073 commented on #85
I had recently added that part of the code, and must not have tested it well enough on Windows (I use OSX).  I released 3.5.1 with a fix.

[2016-03-01 13:13] toast216 commented on #85
Upgraded to 3.5.1 this morning. Still the same error just a little different output:

  File "C:\Users\Raph\Anaconda2\lib\site-packages\spyderlib\widgets\externalshell\sitecustomize.py", line 699, in runfile
    execfile(filename, namespace)

  File "C:\Users\Raph\Anaconda2\lib\site-packages\spyderlib\widgets\externalshell\sitecustomize.py", line 74, in execfile
    exec(compile(scripttext, filena

[2016-03-01 13:19] toast216 commented on #85
This is Windows 7 if it helps at all

[2016-03-01 13:23] blink1073 commented on #85
What is the output of `python -c "import pty"`?

[2016-03-01 13:26] toast216 commented on #85
python -c "import pty"
File "<string>", line 1, in <module>
File "C:\Users\Raph\Anaconda2\lib\pty.py", line 11, in <module> import tty
File "C:\Users\Raph\Anaconda2\lib\tty.py", line 5, in <module> from termios import *
ImportError: No module name termios

This?

[2016-03-01 13:27] toast216 commented on #85
There are <'module'> in there too but they went away

[2016-03-01 13:29] blink1073 commented on #85
I am confused, you should never get past this line:

https://github.com/blink1073/oct2py/blob/master/oct2py/utils.py#L147

Because of this part:
https://github.com/blink1073/oct2py/blob/master/oct2py/utils.py#L12

[2016-03-01 13:30] blink1073 commented on #85
You might try adding a `print(pty)` before line 147 to see what it is picking up.

[2016-03-01 13:32] toast216 commented on #85
returns True for print(pty)

[2016-03-01 13:34] blink1073 commented on #85
as in, it prints "True"?

[2016-03-01 13:35] toast216 commented on #85
it prints "return True"

  File "<ipython-input-15-430bdd71dca0>", line 1, in <module>
    runfile('C:/Users/Raph/Documents/Python Scripts/Reading In Raster/read_raster_v1.py', wdir='C:/Users/Raph/Documents/Python Scripts/Reading In Raster')

  File "C:\Users\Raph\Anaconda2\lib\site-packages\spyderlib\widgets\externalshell\sitecustomize.py", line 699, in runfile
    execfile(filename, namespace)

[2016-03-01 13:41] toast216 commented on #85
I ended up just putting:
pty = None right before
if not pty:
     return false

Works for now as a bandaid. No idea why it wasn't working before and I'm with you on that it should've worked.

[2016-03-01 14:10] blink1073 commented on #85
Can you change that line to `if os.name == 'nt'` and make sure it still works?  If so, I'll cut a new release.

[2016-03-01 14:35] toast216 commented on #85
Yes that change works.

Running into more problems now:

import oct2py as op

octave = op.Oct2Py()
octave.addpath('C:/Users/Raph/Documents/Python Scripts/Reading In Raster/Lump Finder DLL')

And then python crashes on the addpath command. Python.exe has stopped working

[2016-03-01 14:38] blink1073 commented on #85
Try adding a `r''` to make it a raw path.  You've run into another Windows limitation.  Because we are not using a pseudo-tty, Octave forcibly closes the connection when there is an uncaught error.

[2016-03-01 14:42] toast216 commented on #85
Like this?
octave.addpath(r'C:/Users/Raph/Documents/Python Scripts/Reading In Raster/Lump Finder DLL/')

still crashes. Would it have anything to do with admin privileges?
And yes I'm currently hating windows. Again thanks for all this, you've been immensely helpful.

[2016-03-01 14:49] blink1073 commented on #85
does that `addpath` work from an Octave prompt?

[2016-03-01 14:53] toast216 commented on #85
Yup!

[2016-03-01 14:55] blink1073 commented on #85
can you add any other path from `oct2py`?

[2016-03-01 15:06] toast216 commented on #85
Negative.

So in regular Ipython it crashes when I hit enter on the addpath command.
In Spyder it crashes on octave.addpath(
The second I type in that first parenthesis it crashes.

Another thing is I have my octave_executable set to the cli of octave, but now when I go to cmd it says
"octave is not recognized as an internal or external command, operable program or batch file."

[2016-03-01 15:19] blink1073 commented on #85
`OCTAVE_EXECUTABLE` is only recognized by `oct2py`.  Are you able to run any other commands, like `octave.ones(3)`?

[2016-03-01 15:22] toast216 commented on #85
Same issue the second I open a parenthesis after octave.ones it crashes in Spyder

[2016-03-01 15:28] blink1073 commented on #85
I just tried again in my Windows VM, and it works fine.  I'm not sure exactly how to proceed.  There is definitely something strange with your setup (as evidenced by the `pty` thing), but I don't know what it could be.

[2016-03-01 15:29] toast216 commented on #85
Agreed, I'm moving to linux to see if things work better.

[2016-03-01 15:30] blink1073 commented on #85
Ha, another can of worms ;)

[2016-03-02 17:32] toast216 commented on #85
Using this thread because it's still open. Using Oct2py is it possible to load packages in octave? ie. pkg load image?

Or is there another way to do it programmatically instead of typing it into the octave cli?

[2016-03-02 17:49] blink1073 commented on #85
Hi @toast216, you can use `octave.eval('pkg load signal')` to load the signal package, for example

[2016-03-02 17:50] toast216 commented on #85
sweet thanks I ended up just adding it to whatever octave call I was doing, but this is much nicer

[2016-03-04 16:32] toast216 commented on #85
Hey back again! I'm running on linux and things are working much better. We are not using any sort of gui for octave how can we supress these 2 warnings:

octave: X11 DISPLAY environment variable not set
octave: disabling GUI features

[2016-03-04 16:34] blink1073 commented on #85
Do you have an `octave-cli` program?  If so, you can set `OCTAVE_EXECUTABLE` to point to it.

[2016-03-04 16:37] toast216 commented on #85
yup its already pointing to that and everything runs fine:
import os
os.environ['OCTAVE_EXECUTABLE']='/opt/octave-4.0.0/bin/octave'
octave gets called runs all my functions properly we just want to suppress those warnings if possible

[2016-03-04 16:45] blink1073 commented on #85
Not sure off the top of my head, I'll have a look this weekend.

[2016-03-05 13:06] blink1073 commented on #85
Hi @toast216, I believe 6fe0514f7154274076e174c6a4f4f3eaf22100e8 should fix the warning, are you able to run from a git clone?

[2016-03-07 14:34] toast216 commented on #85
I don't know how to run from a git clone but I'm sure I could figure it out.

I tried adding:
 + if 'octave-cli' not in executable:
 +            try:
 +                info = subprocess.check_output([executable, '--version'])
 +            except OSError:  # pragma: no cover
 +                raise Oct2PyError(errmsg)

And tabbing the other stuff over and commenting out the first part. Still gett

[2016-03-08 00:45] blink1073 commented on #85
Hmm, how about adding this print statement?

[code]

[2016-03-08 14:31] toast216 commented on #85
this is what I get with that print statement:

octave: X11 DISPLAY environment variable not set
octave: disabling GUI features
['/opt/octave-4.0.0/bin/octave', '-q', '--no-gui'] {'close_fds': True, 'stdin': 5, 'bufsize': 0, 'stderr': 5, 'stdout': 5}
octave: X11 DISPLAY environment variable not set
octave: disabling GUI features
['/opt/octave-4.0.0/bin/octave', '-q', '--no-gui'] {'close_fds': True,

[2016-03-08 17:12] blink1073 commented on #85
Do you have an `octave-cli` executable?  If so, you can set the `OCTAV_EXECUTABLE` variable to its path, and that should resolve your problem.

[2016-03-08 17:56] toast216 commented on #85
Nice! Works! I had to compile from source(since its 4.0 on a server) and I honestly didn't really know if I had installed everything correctly. Consider this closed

[2016-03-08 17:59] blink1073 commented on #85
Great!

[2016-03-08 17:59] #85 closed

[2016-03-10 22:41] fergalm opened #86 "Oct2Py leaves open filehandles in IPython"
Oct2Py is simultaneously saving my life and crashing my code :')

I'm running a large batch job and it keeps crashing with the error message of "Too many open files". I've traced the problem to Octave/Oct2Py, and I strongly suspect the issue is with Oct2Py itself.

Stripping the problem down to its simplest level, I create the following Octave code, stored in testfunc.m
[code]

I then write the fo

[2016-03-12 03:03] blink1073 commented on #86
Hi @fergalm, what OS are you using?  I tried you code on both Python 2.7 and 3.4 on OSX, and here's what I get before and after running the code:

[code]

So, only about 2 files per octave session.

[2016-03-13 23:07] fergalm commented on #86
I'm running python 2.7 on kubuntu 14.04. Would the version of ipython help?
On Mar 11, 2016 7:03 PM, "Steven Silvester" <notifications@github.com>
wrote:

[2016-03-15 13:32] blink1073 commented on #86
Okay, confirmed on Ubuntu 14.04:

[code]

[2016-03-15 13:32] blink1073 commented on #86
It may be this weekend before I get a chance to dig in.

[2016-03-15 16:36] fergalm commented on #86
Grand. It's not the sort of bug I'd have any idea how to isolate, but let me know if I can help.

[2016-03-19 14:37] blink1073 commented on #86
Fixed by db660a4, released as 3.5.2.  The problem was the thread in `_Reader()` was kept left open, I couldn't figure out why the thread itself results in a huge number of open files.

[2016-03-24 22:29] fergalm commented on #86
Finally got a chance to check the fix against my codebase, and the number of open files now looks essentially flat against runtime. Looks like the bug is squashed. Thanks.

[2016-03-25 14:31] blink1073 commented on #86
Great!

[2016-03-25 14:31] #86 closed

[2016-05-13 23:41] ligon opened #87 "Example in which addpath hangs"
Addpath  consistently hangs when used in an imported module.

Consider the following three files, all kept in /tmp.  The file baz.m is an  octave file.  The python file foo.py imports oct2py and calls baz.m, and works correctly.  The python file bar imports foo, and hangs at addpath.

A further strangeness: if one runs bar.py in  ipython it hangs.   But ^C^C gets one back to the  prompt, *and then

[2016-05-14 01:26] blink1073 commented on #87
Hi @ligon, I'm not sure what the problem could be off the top of my head.  I am traveling this weekend but will have a look when I get back.

[2016-05-17 23:00] blink1073 commented on #87
I took a look at this, and the problem seems to come from executing code on input.  I tried finding a proper fix but it eludes me.  You can put your `addpath()` function in the `foo()` call as a workaround for now.

[2016-05-17 23:58] ligon commented on #87
Thanks for looking at this.  The workaround is what I'm using now, but  I'd
like to distribute the  code which calls octave as a module, which I guess
will lead to users of the module being bitten by this.

Browsing the issues you have on github, it looks like about 20% of them are
related to addpath, and this seems like a problem which may affect many
users.

Happy to help in any further trouble-

[2016-05-18 11:52] blink1073 commented on #87
Reading from a `pty` in a thread was causing the issue, fix released in `v3.5.6`.

[2016-05-18 15:51] ligon commented on #87
Excellent; thanks for taking the trouble to fix this.

I can confirm that this solves the problem I identified.

-Ethan

On Wed, May 18, 2016 at 4:52 AM Steven Silvester <notifications@github.com>
wrote:

[2016-05-18 16:52] blink1073 commented on #87
Great!

[2016-05-18 16:52] #87 closed

[2016-05-21 16:54] fstj opened #88 "Bug when cell arrays contain complex values"
Hi,

Cell arrays containing complex values seem to be mishandled by oct2py.

For example if I define the Octave function bug_cell with this code:
[code]
and I run it from Python via oct2py with:
[code]
I get `None` as a result. If I put only real values in `res` I get a satisfying result.

My OS is Ubuntu 15.10 and I'm using oct2py 3.5.6 in Python 3.4.3 and Octave 4.0.0.

Any idea how to solve thi

[2016-05-22 17:45] blink1073 commented on #88
Hi @fstj, thanks for the detailed report, this is fixed in `3.5.7`:

[code]

[2016-05-22 17:45] #88 closed

[2016-05-23 19:36] fstj commented on #88
I confirm that it works now.
Thanks for the quick fix, and for your work on oct2py in general.

[2016-05-23 19:54] blink1073 commented on #88
My pleasure, thank you for the kind words.

[2016-05-23 21:28] danzimmerman opened #89 "oct2py crashing python.exe in Jupyter"
I'm having an issue with oct2py with Jupyter on Win 7 Ultimate 64 bit SP1

Octave is 4.0.0, oct2py is 3.5.6, Jupyter is 4.1.0 and is running on:
Python 2.7.11 |Anaconda 4.0.0 (64-bit)| (default, Feb 16 2016, 09:58:36) [MSC v.1500 64 bit (AMD64)]

After a little bit of debugging, it seems like oct2py is installed properly and partially working. I can import, push in an array, plot it, use the keybo

[2016-05-24 00:16] blink1073 commented on #89
I just tried with Octave 4.0.1, oct2py v3.5.7, Jupyter 4.1.0, Python 2.7 64-bit on Anaconda and Windows 7 and your examples worked fine for me.  Can you try running the code below from a regular `ipython` prompt and see if there is any traceback?

[code]

[2016-05-24 15:32] danzimmerman commented on #89
Unfortunately no traceback. Same error dialog "python.exe has stopped working -> Close program" and then a silent exit of IPython after I click it away.

![image](https://cloud.githubusercontent.com/assets/4365714/15509865/15393aca-21a3-11e6-834f-422766ebde40.png)

[2016-05-24 17:16] blink1073 commented on #89
Okay, I can reproduce after upgrading Anaconda.  Not sure what is causing it yet.

[2016-05-24 22:59] blink1073 commented on #89
I traced the issue to `scipy.io.loadmat` not segfaulting under these conditions, see https://github.com/ContinuumIO/anaconda-issues/issues/650.

[2016-05-24 23:01] blink1073 commented on #89
Downgrading to `conda install scipy=0.16.0` resolved the issue.

[2016-05-24 23:17] danzimmerman commented on #89
Yes, that resolved it here as well, thanks.

[2016-07-01 02:15] suever opened #91 "Interactive prompt initiated when loading symbolic package"
The [symbolic octave package](http://octave.sourceforge.net/symbolic/) spawns an external python process and displays a greeting message followed by a python prompt `>>>`. This triggers the interactive mode of `oct2py` because the [check for an interactive prompt](https://github.com/blink1073/oct2py/blob/master/oct2py/core.py#L864
) in `oct2py` is `line.endswith('> ')` which incorrectly detects th

[2016-07-01 03:52] blink1073 commented on #91
Closed by #92.

[2016-07-01 03:52] #91 closed

[2016-08-12 21:34] brianthelion opened #94 "Getting logical types into Oct2Py"
The following fails on 3.5.9:

[code]

What's the correct method for passing logicals into Oct2Py?
Thanks!

[2016-08-13 08:05] blink1073 commented on #94
Hi @brianthelion, thank you for the report.  Handling of booleans was not available in older versions of `scipy.savemat`: https://github.com/scipy/scipy/pull/4286.  This will be fixed by #95.

[2016-08-13 11:17] blink1073 commented on #94
I don't see a good way to make this work.  The scipy fix is only available in version 0.16 (oct2py supports 0.13), and even with the fix I am getting segfaults.  I'm going to call this won't fix from my standpoint.

[2016-11-14 23:10] josephcslater commented on #61
Sorry @dhermes didn't reply. I'm in a similar scenario to him and still seeing a hang. I saw your instructions above, and got it unstuck using -g. However, now it matches the [failure that I get in my linux installation](https://gist.github.com/josephcslater/86718ae919248ba355fe9587327e67ad).

Thoughts? (Please be a bit patient- I'm likely to only be able to test a solution this weekend).

[2016-11-15 21:32] blink1073 commented on #61
@josephcslater, I'll look at this after we get https://github.com/Calysto/octave_kernel/issues/50 fixed.

[2016-11-16 01:52] josephcslater commented on #61
Thanks. Let me know if I can test anything.

[2016-11-19 15:47] blink1073 commented on #61
@josephcslater, your issue should be fixed by upgrading oct2py to v3.5.10.

[2016-11-19 16:35] josephcslater commented on #61
Unfortunately, it's still hanging.

[code]
Just hangs.

Likewise
[code]
hangs.

[2016-11-19 16:48] blink1073 commented on #61
I just tried it again on Ubuntu 14.04, and it is working fine, can you verify the following?

[code]

[2016-11-19 16:51] josephcslater commented on #61
Confirmed.

Works fine on my Ubuntu installation as well. Failing on my Mac.

[2016-11-19 16:52] blink1073 commented on #61
Ah, I had to follow the "Using Aquaterm with Gnuplot" from  http://wiki.octave.org/Octave_for_MacOS_X to get it to work on my Mac.

[2016-11-19 16:53] josephcslater commented on #61
I'm not even trying to plot. Should this matter?

[2016-11-19 16:54] blink1073 commented on #61
Yes because oct2py doesn't know if you are trying to plot until after you run the command, so we treat every command as a possible plotting command.

[2016-11-19 16:56] josephcslater commented on #61
Hmmm, so this may not work for me. What I have working is octave 4.0.3 installed using macports (not brew). It plots via xterm, not aquaterm . Not sure where to go from here.

[2016-11-19 16:58] josephcslater commented on #61
I don't think this is my problem. I just ran gnu plot, changed the terminal to aqua (`set term aqua`) and plotting followed fine. So, gnu plot will recognize aqua. It may be that I need to set the default to aqua for oct2py interacting with it to work?

[2016-11-19 17:05] blink1073 commented on #61
That shouldn't be required, AFAIK.   Are you able to plot from `octave-cli` without changing any settings?

[2016-11-19 17:05] josephcslater commented on #61
Yes.

[2016-11-19 17:07] josephcslater commented on #61
At least this isn't (so far?) the face plant of my issue #50 (I owe you a beer for that level of stupid on my part!).

[2016-11-19 17:09] blink1073 commented on #61
I'm not entirely sure where to go from here.  I am not keen to install Macports and spending another round of debugging the inner loop at the moment.

[2016-11-19 17:10] josephcslater commented on #61
I get it. Have an idea how I could trace it?

[2016-11-19 17:11] josephcslater commented on #61
It's not a strong need of mine right now, but more of a "this would be nice to have", so I appreciate how much you've already put into it.

[2016-11-19 17:14] blink1073 commented on #61
You could try putting print statements in the inner `evaluate` function, that is essentially what I ended up doing this morning to debug the Homebrew plotting.  I'll be afk for the rest of the day.

[2016-11-19 17:58] josephcslater commented on #61
Thank you, and enjoy the time away.

Sent from my iPhone

[2016-11-20 15:41] blink1073 commented on #61
Okay, I think the problem is trying to do control flow logic (for loops in this case) through the pipe, which is too brittle.   v3.6.0 adds a separate `_make_figs.m` function that encapsulates the logic.     Do you mind testing that release?

[2016-11-20 16:53] josephcslater commented on #61
Works! Thanks!

That you would ask if I mind... I owe it to you (and other freeware authors (which I am as well) to do so. Thank you for coming back to this.

FWIW: The failure happened even when no figures were involved. Further, figures are indeed working.

In light of this: I thought I should test your demo ipynb, it unfortunately failed on the cell

[code]

the fail results being:

[code]

[2016-11-20 16:56] josephcslater commented on #61
Now hanging is:

[code]

[2016-11-20 16:57] josephcslater commented on #61
The final cell (using the octave plotting GUI) works fine.

Of course, order matters. It can't be executed with the others hanging.

[2016-11-20 17:02] josephcslater commented on #61
Also hanging is:

[code]

However, it works fine with the `-g` option.

[2016-11-22 17:23] blink1073 commented on #61
Thanks again for the reports @josephcslater, I'll try to sneak in some time to work on this over the holiday.

[2016-11-22 19:19] josephcslater commented on #61
It's hard. I know. I can't even get nose tests to work on one of my packages on travis-ci. I know (believe) the package works, but I'd like to eventually be able to rely on nose tests to determine release. Programing gremlins are the worst time sinks.

[2016-11-23 16:09] blink1073 commented on #61
I tracked down the issue to gnuplot creating an invalid SVG file in this case:

![image](https://cloud.githubusercontent.com/assets/2096628/20569213/ea2d5666-b164-11e6-983c-db70eb4c5ad0.png)

[2016-11-23 16:17] josephcslater commented on #61
egad.  I suppose the only solution is a [bug report](https://sourceforge.net/p/gnuplot/bugs/) to gnuplot.

[2016-11-23 16:24] blink1073 commented on #61
I have a work-around coming, it ends up loading as such (notice the error character in the caption):

![image](https://cloud.githubusercontent.com/assets/2096628/20569798/f5d78084-b166-11e6-8daa-61e33f873132.png)

[2016-11-23 16:32] blink1073 commented on #61
7581f39 has the fix.  The `sombrero` example is showing no output at all for me on OSX, I'll look at that next.

[2016-11-23 23:43] blink1073 commented on #61
I released 3.6.1 that should address the problems you saw.

[2016-11-23 23:57] josephcslater commented on #61
I dread saying this, but indeed that plot works, but
[code]
hangs now, along with the subsequent `%%octave -f svg cell.

[2016-11-24 14:11] blink1073 commented on #61
The second cell will never execute if the first hangs.  Are you able to execute both if you change the first to:

[code]

[2016-11-25 02:42] josephcslater commented on #61
"The second cell will never execute if the first hangs. Are you able to execute both if you change the first to:"

Of course. I restarted the entire notebook to test the second cell, skipping the one that had hung.

Tested, and indeed, the answer is unfortunately "no."

[2016-11-25 14:11] blink1073 commented on #61
Let's try and rule this out from an Octave session:

[code]

[2016-11-25 15:50] josephcslater commented on #61
There are three ways for me to launch: from terminal, `octave` or `octave-cli`, of double clicking in the GUI.

The first two work fine as long as I'm launching from a directory I can write to. If not, it hangs. I got to that thought only after running from the GUI and realizing it defaults to `/`, which is non-user writable.

That seems like it.  The issue might be that octave is launching with p

[2016-11-25 15:55] blink1073 commented on #61
We can change directory to your home directory at startup with this change (note it adds `cd` to the list of commands on that line).  Does making this change allow your notebook to run?

[code]

[2016-11-25 15:57] josephcslater commented on #61
I presume there is a simple way to apply this, I'm going to manually edit the file `core.py` for the sake of expediency. Excuse my barbarism.

[2016-11-25 16:03] blink1073 commented on #61
Hack away ;).  Applying a git diff is not high on the list of intuitive tasks to do ;).

[2016-11-25 16:05] josephcslater commented on #61
I've applied such before... but don't trust myself.

Nevertheless, `:(`. This failed. I also tried to explicitly put in a path that would be clearly writable. To my desktop, with and without training `/`.

[2016-11-25 16:10] josephcslater commented on #61
[code]
works,
but

[code]
fails.

Clearly the `-s` option is the issue.

[2016-11-25 16:11] josephcslater commented on #61
`%%octave  -f svg -s 600,200` (swapping order of arguments) did not help.

[2016-11-25 16:11] blink1073 commented on #61
That is *weird*, because the height and width are getting set either way even if you don't specify them.

[2016-11-25 16:12] josephcslater commented on #61
The fact that what I said makes no sense did not elude me.

[2016-11-25 16:18] josephcslater commented on #61
So, as a piece of information that I can't understand,

[code]
doesn't work, but

[code]
does.

[2016-11-25 16:19] josephcslater commented on #61
Ready to flip out? I've made progress (dramatic pause).

[2016-11-25 16:19] josephcslater commented on #61
The comment line:
[code]
needed to be removed.

[2016-11-25 16:22] josephcslater commented on #61
The `png` example is still failing... I'm working on editing the cell itself to see of the comment line is an issue.

[2016-11-25 16:23] josephcslater commented on #61
[code]
works, but

[code]
doesn't.

lmao.

[2016-11-25 16:27] josephcslater commented on #61
So, it seems that a comment line before you get to code causes a problem, regardless of using `#` or `%`.

In the middle: unchecked. I think at the end doesn't matter (last example) because the work is already done.

[2016-11-25 16:29] josephcslater commented on #61
Of course, that's apparently not always true, as the buterworth example has been working fine all along.

Removing the comment in that example does not fix the odd character issue, btw. I thought I'd try, though I didn't expect it to.

[2016-11-25 16:34] josephcslater commented on #61
So...

for the butterworth example,
```%%octave  -f svg -s 200,600```

does to change the size at all.

Neither does

```%%octave -s 200,600 ```
versus
```%%octave -s 500,500 ```

It seems the first line parsing has some odd issue that it's ignoring something, including getting messed up when there is a subsequent comment line.

[2016-11-25 16:38] josephcslater commented on #61
Some extreme numbers in sizing show that it does something, but I think something in Jupyter is rescaling, and Octave might be doing something similar. It's hard to find a value to it's use right now watching what I'm seeing. The result is coming through clean by default.

[2016-11-25 16:40] josephcslater commented on #61
(tyfys)

[2016-11-25 17:21] blink1073 commented on #61
We have two problems: our ability to differentiate between a `%magic` and a `% comment`, and yes, I did notice that our ability to set the size is wonky.   I am going to take a break for this for a while, at least we made some progress ;).

[2016-11-25 17:37] josephcslater commented on #61
It is also `# comments` that have problems. Easy enough to work around (avoid) for the user, but programming may be impossible as it's possible jupyter chews up anything after a % so you are stuck with it feeding `oct2py` comment garbage that you can't interpret.

I'm betting your wife is giving you a hard time. I'm in work, and this is more fun that what I need to be doing. You taking a break may

[2016-11-25 17:50] blink1073 commented on #61
Right, Octave supports either kind of comment character:  https://www.gnu.org/software/octave/doc/v4.0.3/Single-Line-Comments.html

This could be related to how we're evaluating the input, I have been meaning to switch to the method used by pymatbridge.  Their method of setting the image size is also better.  The image size handling I can add soon, the other my family would not appreciate right no

[2016-11-25 18:08] josephcslater commented on #61
I might need a couch tonight the way my day is going.

[2016-11-25 18:10] josephcslater commented on #61
I don't need anything quickly on this, so don't do it for me.

[2016-11-26 01:26] blink1073 commented on #61
`v3.6.2` should fix the size wonkiness.  Thanks for all the detailed follow-ups :).

[2016-11-26 15:05] josephcslater commented on #61
Everything seems to work, sizing seems better (I have't thoroughly tested), but comments still break it. (even in the 3.6.3 release).

[2016-11-26 15:12] josephcslater commented on #61
FWIW: Something is broken with this package display on `pypi`.
![untitled](https://cloud.githubusercontent.com/assets/12815335/20641184/530f9dbc-b3c0-11e6-9009-31b50af79a9f.png)

I'm likely to try to use oct2py as a template for my packages [array_to_latex](https://pypi.python.org/pypi/array_to_latex/0.36) and [vibration_toolbox](https://pypi.python.org/pypi/vibration_toolbox/0.5b9), so helping ou

[2016-11-26 16:48] blink1073 commented on #61
Thanks for the heads up, I removed the badge.  Yup, writing libraries is hard.  This was my first one, and I'm still learning after 5 years ;).

[2016-11-26 17:03] josephcslater commented on #61
My career path has taken me far from this, but coding is my outlet and helps me feel like I'm still relevant in modern computing. Can I ask- for the life of me I can't see how the [oct2py web pages](http://blink1073.github.io/oct2py/) end up being served on github. I didn't find the repository, I see the make files and all, but in my head I would have to build at my terminal to an html out directo

[2016-11-26 17:43] blink1073 commented on #61
By default, the github.io site points to the index.html in the root directory of the gh-pages branch of the repo.  Recently they added the ability to point the page to other locations, in the settings for the repo.

[2016-11-26 17:55] josephcslater commented on #61
My mind just got blown.

So, the pages are in the sources directory, but the make file makes the pages and puts them in a separate branch somehow? I think in this.

[code]

This will take a while to deconstruct.

[2016-11-26 19:34] blink1073 commented on #61
The last two lines are all you should need.  It builds the docs and uses the ghp-import python package to publish automagically.  See the docs for the package for what the options mean.

[2016-12-18 22:20] andrescodas opened #97 "Crash at initialization due to output pagination"
During initialization of octave ~/.octaverc is called. If this execution prints a lot and "more off" is not called before  oct2py crashes.

A workaround is to make sure that 'more off' is called on the first line of  ~/.octaverc

[2016-12-19 16:32] blink1073 commented on #97
Thanks for the report.  I believe the solution from this end is to use `--no-init-file`, set `more off`, and then evaluate the initialization files manually.

[2016-12-23 20:45] blink1073 opened #98 "Beef up example notebook"
Make sure we have examples with imshow, butterworth filter, and 3d plots.
Show use of resolution and width/height parameters.

[2016-12-24 14:48] blink1073 commented on #89
Closing as fixed.

[2016-12-24 14:48] #89 closed

[2016-12-24 14:49] blink1073 commented on #79
Closing due to lack of reply, please feel free to reopen.

[2016-12-24 14:49] #79 closed

[2016-12-24 14:57] blink1073 commented on #81
Closing due to lack of response, feel free to reopen.

[2016-12-24 14:57] #81 closed

[2016-12-24 15:09] #61 closed

[2016-12-24 15:09] #97 closed

[2016-12-24 15:09] #98 closed

[2016-12-24 15:13] blink1073 opened #100 "Fix interrupt behavior on Windows"
Currently keyboard interrupting on Windows does not actually interrupt the process and results in a broken state.

[2016-12-24 16:41] blink1073 opened #101 "Release 3.7 on conda-forge"
Depends on https://github.com/conda-forge/staged-recipes/pull/2130.

[2016-12-25 21:06] blink1073 opened #102 "Importing should work with no Octave available"
It should print a message and set `octave=None`.  That way you can at least get version info, etc.

[2016-12-25 21:11] blink1073 opened #103 "TODO for 4.0"
- [x] Dynamic classes (#80)
- [x] Another pass at logical type handling (will have to increase minimum Scipy version) (#94)
- [ ] Fix interrupt behavior on Windows (#100)
- [x] Graceful import failure (#102)
- [ ] Clean up code evaluation (#105)
- [x] Look into function pointer handling - not possible - see http://savannah.gnu.org/bugs/?43215

[2016-12-26 01:55] #80 closed

[2016-12-26 01:57] blink1073 commented on #102
This is already done, I had forgotten.

[2016-12-26 01:57] #102 closed

[2016-12-26 22:45] blink1073 commented on #103
Notes for steam handling:

- `octave.ones(3)` should absorb the answer and give it back as a value in the repl
- `y = octave.ones(3)` should not print anything by default
- `octave.disp('hi')` should print to stdout
- `y = octave.disp('hi')` should not print anything by default
- `octave.eval('for i=1:3;disp("hi");sleep(1);end')` should print incremental output

- Solution: verbose should control

[2016-12-29 08:25] blink1073 commented on #101
Fixed by https://github.com/conda-forge/oct2py-feedstock/pull/14.

[2016-12-29 08:25] #101 closed

[2016-12-29 08:37] blink1073 opened #105 "Clean up of code evaluation"
Emulate the API from `python-matlab-bridge`:

- [ ] Add new `feval` and `handle_plot_settings` methods and deprecate `eval` kwargs.
- [ ] Fix handling of stdout -> mimic the behavior of Octave REPL
- [ ] Create a `get_pointer()` method that returns an `OctavePointer` that can be passed to  `run_func` as an argument.
    `OctaveFunction`, `OctaveObject` classes, and  `OctaveObject`  instances  can

[2016-12-29 08:38] blink1073 commented on #105
Notes for stdout handling:

- `octave.ones(3)` should absorb the answer and give it back as a value in the repl
- `y = octave.ones(3)` should not print anything by default
- `octave.disp('hi')` should print to stdout
- `y = octave.disp('hi')` should not print anything by default
- `octave.eval('for i=1:3;disp("hi");sleep(1);end')` should print incremental output

`silent=True` sets output to debug

[2016-12-29 08:53] blink1073 commented on #105
Dev notes:
Replace most of existing internal eval machinery with an Octave function based on [pymat_eval](https://github.com/arokem/python-matlab-bridge/blob/master/pymatbridge/matlab/util/pymat_eval.m) but uses `load` and `save` instead of `JSON` marshaling.  The only additional thing needed on the Octave end is the ability to replace a positional argument with its value from the base workspace.

[2016-12-29 10:07] blink1073 commented on #105
New API:

[code]

And add a doc and implementation in  `OctaveMethod`:

```Deprecated kwargs `plot_dir`, `plot_name`,
 `plot_format`, `plot_width`, and `plot_height` will be honored.  Use
 `handle_plot_settings` instead.
[code]

[2016-12-29 11:05] blink1073 commented on #105
An `OctaveConstructor` is an object with a `__call__` that returns the result of `feval(class_name, ...)`.

An `OctaveObject` class takes a `MatlabObject` and an `OctaveObject`, and uses `push(self.name, mat_obj)` to store the value.  To call a method, it calls `feval(method_name, self, ...)`, which uses `self.name` to access the variable.

[2017-01-13 12:41] blink1073 opened #106 "Update handling of stdin"
Incorporate updates from https://github.com/Calysto/octave_kernel/pull/60.

[2017-01-13 17:54] andrescodas opened #107 "concatenated struct data conversion"
Hi

would it be difficult to support the conversion of an array of structs?

example:

function s = structArray()
s = [struct('key','a');struct('key','b');struct('key','c')]
end

For this function oct2py returns only the first struct.

[2017-01-13 19:06] blink1073 commented on #107
Hi @andrescodas, I am in the middle of a cleanup and streamline that will get us to 4.0.  I verified that your example parses properly with the new version.  Work in progress is in #108.

[2017-01-14 16:57] blink1073 commented on #103
Moving checklist to #108.

[2017-01-14 16:57] #103 closed

[2017-01-26 02:50] shoyer opened #109 "Consider setting delaybeforesend to None"
[pexpect's `spawn`](http://pexpect.readthedocs.io/en/stable/api/pexpect.html#spawn-class) has a `delaybeforesend` parameter that defaults to 50ms. This adds about 300 ms of overhead per MATLAB command when using oct2py:
[code]

[2017-01-26 03:14] blink1073 commented on #109
Nice catch!  I'll make the change in octave_kernel so it benefits both libs.

[2017-01-26 13:26] blink1073 commented on #109
Released in `octave_kernel@0.24.8.`.  Thanks!

[2017-01-26 13:26] #109 closed

[2017-02-06 23:35] shoyer opened #112 "Handling of keyword arguments is surprising (for Python users)"
It looks like oct2py parses function calls with keyword arguments using in the [input parser style](http://stackoverflow.com/a/814803/809705), e.g., `f(x=1)` gets converted into `f('x', 1)` when calling Octave. I expected this to somehow do the normal Python thing of passing `1` to the `x` argument (which I guess is not possible in Octave due to a lack of language support).

This seems reasonable,

[2017-02-06 23:43] shoyer opened #113 "Some way to disable Nargout magic"
I appreciate that this is convenient for working with many Octave/Matlab APIs, but functions returning different numbers of arguments out depending on how many arguments their result is assigned to involves [very fragile magic](https://github.com/blink1073/oct2py/blob/849e2d7aa3cdf15aa52b0e963829de97146acba8/oct2py/utils.py#L15-L46) on the Python side. For example, it works poorly with a notebook/

[2017-02-07 12:16] blink1073 commented on #113
Ha, magic, what magic?  Nothing to see here...

Yep, that sounds like a fair override.

[2017-02-07 12:20] blink1073 commented on #112
I'm deprecating the handling of keyword args to function calls altogether in 4.0.  I'll update the docs in 3.x and 4.x to make it clear that the Octave-style argument handling is the one we're using.

[2017-02-13 23:54] dansteingart commented on #94
@blink1073 does this mean that booleans cannot be passed at all to any function in octave from python?  thanks in advance?

[2017-02-14 16:19] blink1073 commented on #94
In `oct2py` 3.x they are passed as integer types.  In `oct2py` 4.x they will be passed as logical types.  See #108.

[2017-02-25 18:21] #94 closed

[2017-02-25 18:21] #100 closed

[2017-02-25 18:21] #105 closed

[2017-02-25 18:21] #106 closed

[2017-02-25 18:21] #107 closed

[2017-02-25 18:21] #112 closed

[2017-02-25 18:21] #113 closed

[2017-02-25 18:23] blink1073 opened #114 "[ANN] 4.0 Release"
4.0rc1 is available on [PyPI](https://pypi.python.org/pypi/oct2py/4.0rc1).  I plan to release 4.0 final next weekend.  It can be installed as `pip install -U --pre oct2py`.

Release notes: https://github.com/blink1073/oct2py/blob/master/HISTORY.rst#400-2017-xx-xx

[2017-02-26 10:24] blink1073 commented on #114
cc @shoyer, @andrescodas, @brianthelion, @suever, @danzimmerman, @maostu

[2017-03-07 21:13] AetherLorde opened #115 "error messages getting cut off"
First off, let me say a great thank you for this project. It is very helpful!

It looks like the lines beyond the first are being cut off when octave returns an error message. For example, in my code I am getting this:

error: element number 2 undefined in return list

In the documentation for octave it seems like there are usually lines following the first with more information about the error su

[2017-03-07 21:45] blink1073 commented on #115
Hi @AetherLorde, this should be fixed by upgrading to version 4.0 `pip install -U oct2py` (I just released it).

[2017-03-07 21:47] blink1073 commented on #114
Released!

[2017-03-07 21:47] #114 closed

[2017-03-08 18:19] AetherLorde commented on #115
I am not sure if this actually fixed the issue. I cannot reproduce the issue I was seeing earlier because in my attempts to source my octave file using the octave session produced by oct2py.Oct2Py(), i am getting back

Oct2PyError: Octave evaluation error:
error: element number 1 undefined in return list

It also seems like some of the simpler functions are now erroring out with a graphics_toolkit

[2017-03-08 18:22] blink1073 commented on #115
You can post what you're seeing here.

[2017-03-08 18:24] AetherLorde commented on #115
I updated the comment above with some more information.

[2017-03-08 18:26] blink1073 commented on #115
Are you able to post the code you are running?

[2017-03-08 18:30] AetherLorde commented on #115
I can post the stuff I am testing with, I just made a little test file to test the sourcing stuff with a couple of globals in it, and I'm attempting to create the oct2py instance and source the file from the ipython repl

test.m
global global_vars;
global testing;

global zero_test = zeros(5)

In IPythonRepl:
oc = oct2py.Oct2Py()
oc.source('test.m')

The repl is running from the same folder as the

[2017-03-08 18:36] blink1073 commented on #115
Thank you, I can reproduce.  It might not be until the weekend until I can work on a fix.

[2017-03-08 18:37] AetherLorde commented on #115
No worries! I appreciate you working on this!

[2017-03-09 02:24] #115 closed

[2017-03-10 11:27] blink1073 commented on #115
@AetherLorde, if you're still seeing any issues, including the graphics_toolkit problem you mentioned, please feel free to open another issue.

[2017-03-10 19:06] AetherLorde opened #116 "graphics_toolkit: gnuplot toolkit is not available"
I have seeing weird behavior on most Octave functions called from the Oct2Py object. Even just calling the ones function produces the following error.

error: graphics_toolkit: gnuplot toolkit is not available
error: called from graphics_toolkit at line 81 column 5

The function is still running and returning fine to the python code, it just also throws/shows the above  octave error. It seems that

[2017-03-11 11:00] blink1073 commented on #116
Hi @AetherLorde, can you please try `pip install -U octave_kernel`?  `oct2py` uses the the `octave_kernel` for low level interaction, and I made a release of `octave_kernel` that should fix the problem.

[2017-03-12 07:24] QuLogic opened #117 "Docs in PyPI tarball are broken"
The PyPI tarball of 4.0.2 contains a weird set of files for the documentation. I believe all the files in `docs/source` are there, but the `docs/_templates` directory is missing (not sure if it's needed). The two `makefile`/`make.bat` are missing. Then there's `docs/_build/html`, but it contains _only_ `*.png` files.

[2017-03-12 07:31] QuLogic commented on #117
PS, you _can_ build the docs using `sphinx-build` directly; it's just weird to have half-built `_build` directory.

Also, there's this warning:
[code]
which appears to be coming from [here](https://github.com/blink1073/oct2py/blob/e485da051b48cb5d49220daeb546b359a2d8a559/oct2py/core.py#L222).

[2017-03-12 10:23] blink1073 commented on #117
Thanks, fixed in f5060bb445d2b974b6545945424a433910807e1a, released in https://github.com/blink1073/oct2py/releases/tag/v4.0.3.

[2017-03-12 10:23] #117 closed

[2017-03-13 13:44] AetherLorde commented on #116
It tells me the requirement is already met. I also did pip install -U oct2py. The error persists

[2017-03-13 15:32] blink1073 commented on #116
What is the output of `pip list | grep octave-kernel`?

[2017-03-14 13:28] AetherLorde commented on #116
So it looks like my octave_kernel isn't installed via pip, but instead via conda. It looks like the conda version and the pip version are both at .26.

[2017-03-14 16:04] AetherLorde commented on #115
I don't think this issue is resolved actually. In looking at some more stuff for the other issue, I decided to see if I could confirm it. I have written a very simple .m file with a function that raises an error and then called the function raising the error from the octave command line and from oct2py via the ipython repl. In octave I get the following
[code]
But from oct2py, I still only get the

[2017-03-15 08:24] blink1073 commented on #116
octave_kernel 0.26.1 is now available on pip (conda pending).  It now checks to see if gnuplot is available before setting it as the `graphics_toolkit`.

[2017-03-15 09:03] blink1073 commented on #115
Fixed by 7a68142fba65a924809af514a55716d21d86115f, released in 4.0.4 (PyPI done, conda building).

[2017-03-15 13:37] AetherLorde commented on #115
Awesome! Thank you!

[2017-03-15 13:41] AetherLorde commented on #116
Still seeing this unfortunately with

oct2py                    4.0.4                     <pip>
octave-kernel             0.26.2                    <pip>

I also tried installing version .26.1 specifically and the error was still present unfortunately.

[2017-03-15 22:32] wkew opened #118 "Capturing Multiple Returns (again)"
Hi,

I'm trying Oct2Py as a means to bridge my python tools with a large set of octave scripts someone else developed. It is working very well, unfortunately octave functions with variable/multiple outputs are only returning one when I use normal python.

I came across this fixed issue from a couple of years ago - https://github.com/blink1073/oct2py/issues/66 - and using the OctaveMagic approach d

[2017-03-16 11:20] blink1073 commented on #118
Hi @wkew, we had previously inferred the number of return arguments the same way Octave does, but it relied on an undocumented hack to the Python bytecode, and was confusing to some users.  You can now explicitly pass `nout=3` to your function.

[2017-03-16 11:40] blink1073 commented on #116
What is the output of `available_graphics_toolkits` in Octave?

[2017-03-16 13:15] AetherLorde commented on #116
octave:1> available_graphics_toolkits
ans =
{
  [1,1] = fltk
}

[2017-03-16 13:52] wkew commented on #118
Ah, ok - this works now. Thanks!

[2017-03-16 13:52] #118 closed

[2017-03-16 16:34] blink1073 commented on #116
If you install 0.26.1 specifically, does it print `gnuplot` to the terminal?

[2017-03-17 13:11] AetherLorde commented on #116
No, still just

[code]

[2017-03-17 15:40] blink1073 commented on #116
Sorry, I mean in the terminal when you run the notebook: https://github.com/Calysto/octave_kernel/commit/39025eedc7dde19fbc39ad3921214e4c2b852b01#diff-7aa6445107b53b67eaeceb6838b981dcR283.

[2017-03-17 18:03] AetherLorde commented on #116
So I started an ipython repl, imported octave_kernel.kernel and then made an OctaveEngine. ```gnuplot``` was not printed to the screen at any point. Are there other steps that I should try? I actually am not running any of this via a full notebook if that makes a difference

[2017-03-17 20:25] blink1073 commented on #116
What sequence of actions gives you the gnuplot error now?

[2017-03-17 21:31] AetherLorde commented on #116
I still see it on function calls through oct2py after the first. So if I import oct2py, instantiate an Oct2Py object, and then start making calls, even just to ones and zeros functions, it will start displaying the error from the second call onward.

[2017-03-18 08:24] blink1073 commented on #116
Ah, whoops, didn't see that we were also explicitly setting `gnuplot` in `oct2py`.  Fixed 01b85951c6c5cd4f6e9c580a8d8e1584f17399e6, released as 4.0.5.

[2017-03-18 12:49] rrtucci opened #119 "Cell assignment parsed incorrectly by oct2py"
Octavemagic gives me the following erroneous result
https://github.com/rrtucci/bob-sandbox/blob/master/octavemagic-bug.ipynb
If I try the same thing with octave kernel, it works fine
https://github.com/rrtucci/bob-sandbox/blob/master/octave-kernel-okay.ipynb

[2017-03-19 15:42] blink1073 commented on #119
Hi @rrtucci, as @dsblank suspected, this is a limitation of the magic parsing in `ipython`.  I added a debug print for the line we get from `ipython` in the magic function:

<image src="https://cloud.githubusercontent.com/assets/2096628/24082263/a1150230-0c90-11e7-8959-122fc8ec7c43.png" width=400>

Closing here, as there is nothing we can do in this library, and you have already found a work aroun

[2017-03-19 15:42] #119 closed

[2017-03-20 13:24] AetherLorde commented on #116
Updated this morning and its working! Thanks!

[2017-03-20 15:12] blink1073 commented on #116
Great!  Thanks for your persistence!

[2017-03-20 15:12] #116 closed

[2017-03-20 15:13] blink1073 commented on #116
Ha, I meant perseverance, not persistence.

[2017-04-03 21:58] shoyer opened #120 "Errors when running many Oct2Py objects concurrently"
When I try to run multiple Oct2Py instances concurrently, either with joblib / multi-threading or Apache Beam, I've been getting errors from Oct2Py that only occur when I make a large total number of Octave function calls (more than several hundred).

The errors look like:
[code]

with tracebacks of the form:
[code]

Any idea what's going on here? ~~My best guess is that Python may be running out

[2017-04-04 17:35] blink1073 commented on #120
Which version of `oct2py` is this?

[2017-04-04 19:19] shoyer commented on #120
We're still using 3.8.1, though I could try a newer version to see if that helps.

I'll see if I can reproduce this with a toy example.

[2017-04-04 20:49] blink1073 commented on #120
In general this library wasn't intended to support large parallel loads, do you have the option to use http://wiki.octave.org/Parallel_package?

[2017-04-05 02:45] shoyer commented on #120
Not really, unfortunately. We have some logic in Python that we'd like to parallelize along with Octave, and we want to be able to do true distributed computation across many machines.

It does seem to be an issue with thread-safety. In particular, I can eliminate the issue if I add a global thread lock around scipy's `savemat` routine. Would you be amenable to a pull request adding such a lock to

[2017-04-05 11:38] blink1073 commented on #120
Sure, I'd accept that workaround.  If you make a PR against master I can backport it to 3.x.

[2017-04-05 11:40] blink1073 commented on #120
I made a `3.x` branch from the `v3.9.2` tag as well if you want to make a PR against that instead.

[2017-04-08 11:44] #120 closed

[2017-04-19 18:13] hero1900 opened #123 "multiple variable fuction retrevial issue"
i am calling a m file that is a function that return multiple variables but when assign the result to multiple variables i get an error while if  assigned to single variable it will just return the first returned variable from the function. here is an example:
[code]

[2017-04-19 18:20] blink1073 commented on #123
Hi @hero1900, because Python doesn't infer the number of return values the way Octave does, we use the `nout=` parameter in Oct2Py, so the function call should be `octave.getmap(im, 1, c2, nout=10)`.

[2017-04-20 03:15] hero1900 commented on #123
owh thanks for the information. where i can find good source for how to use oct2py since the main website has just small samples

[2017-04-20 03:39] hero1900 commented on #123
when i put the number of out put as 10 i still get the error (Oct2PyError: Octave evaluation error:
error: save: error while writing '' to MAT file) but if the nout=5 there will be no error and i can get the first 5 outputs

[2017-04-20 11:54] blink1073 commented on #123
Hmm, can you give more info about the `getmap` function?  I tried the following:

[code]

[code]

[2017-05-02 17:59] noteven opened #124 "Plotting on Windows does not appear to work"
Good day, it appears that plotting does not work on Windows.  Running the plot demo located here (https://blink1073.github.io/oct2py/source/demo.html) produces a negative float (~-6.x) but no plot window and running the subplot_test provided in ticket #81 produces no perceivable results (no plot, no return). However if one un-comments the saveas() call, the script does output a png file with the a

[2017-05-04 17:18] noteven commented on #124
Tested the demo and then project I was working on with Oct2Py 3.8.0 and it works perfectly. Maybe problems have to do with the fact that the hard-coded GNUPlot was removed? Either way, rolling back worked fine.

[2017-05-22 07:42] dalito opened #125 "Exception when passing pandas.Series after upgrade from 3.9.0 to 4.0.6"
Calling the function [backcor.m](http://de.mathworks.com/matlabcentral/fileexchange/27429-background-correction?focused=3778803&tab=function) from a Python script on Windows 7 gives an exception with oct2py version 4.0.6 but runs fine with 3.9.0.

Versions: Windows 7 (64bit), Python 2.7.13 (32bit), Octave 4.2.1, octave-kernel 0.26.2, scipy 0.19.0, numpy 1.12.1

Python code calling the function:
`b

[2017-05-22 12:10] blink1073 commented on #125
Hi @dalito, it looks like the new parsing is getting stuck on one of the values (there is a `None` in there that isn't getting converted to another value before trying to use `matwrite` in `scipy`.  Can you provide the script used to generate the input values?

[2017-05-22 13:05] dalito commented on #125
Making a small example was already quite helpful. I found out that the exception occurs only if I pass a pandas series to backcor. So I can easily avoid the problem by passing the array (pd.Series.values).

Here is an example that results in the above exception:

[code]

[2017-05-22 13:09] blink1073 commented on #125
Glad you found a workaround.  Using pandas was not something I had tried directly.  Thanks for the example!   I'll leave this open until I have a chance to make a fix.

[2017-05-22 13:13] dalito commented on #125
Thanks for the prompt reply. I changed the issue title to reflect the finding.

[2017-05-23 18:44] rsmith54 opened #126 "does oct2py close properly if the octave session is forced to restart?"
First wanted to thank you for this package :)

I'm attempting to use oct2py on a spark cluster, and occasionally my jobs fail with the following error message:

[code]

This is happening inside a block:

[code]
However, it seems that some stray octave processes are being leftover somehow, and I'm investigating why.   I would appreciate greatly any insight into how this could be happening or how to

[2017-05-23 19:09] blink1073 commented on #126
That error means we got an `EOF` from the process.  It could be that `restart` should be explicitly terminating an existing session if it exists, similar to what `exit` is doing.

[2017-05-23 19:29] rsmith54 commented on #126
Okay, thanks for the insight.  Do you think the following would be a temporary workaround to ensure that the octave process is closed, as I think this would ensure ```exit()``` is always called?  I'm okay keeping track of failures, I just want to make sure the octave instance is assuredly closed.

[code]

[2017-05-23 20:41] blink1073 commented on #126
I think this will require a change to the core code itself, since it is replacing the old engine without ensuring it is terminated.

[2017-05-31 19:05] rsmith54 commented on #126
Just fyi, my workaround has at least been working much better than my original code.  I think I only get leftover processes when I kill the python process with ```kill``` or Ctrl+C.

[2017-05-31 20:45] blink1073 commented on #126
Glad to hear it

[2017-06-01 21:12] tyo-lab-nu opened #127 "Bug in NaN translation"
I have encountered some strange behavior with NaNs when they are used in calculations. I have a very simple .m file that contains the following:

function [res, a, b] = foo(a, b)
res = a * b;
end

When I attempt to run this simple function from Python the output appears as follows:

[0, nan, 2]

It seems like the np.nan can get passed in and out of Octave without an issue as one might expect, but

[2017-06-02 06:15] gunjannaik opened #128 "Unable to use spline function, even if the input are given properly"
Hi,

I am using spline function in my octave code and calling it from python.

But it throws error of 'x undefined'. Here the x is input of points that I have given. I checked all the variables and there is no issue with them.

But, I am still getting this error.Please help

[2017-06-02 16:43] blink1073 commented on #128
Hi @gunjannaik, are you able to post the code snippet?

[2017-06-02 16:53] blink1073 commented on #127
That is odd.  I updated the function to display the values:
[code]

and I get

[code]

But in Octave:

[code]

I'm not really sure what to do here...

[2017-06-02 17:54] tyo-lab-nu commented on #127
I noticed the same thing as you did when running in Octave. It's not immediately clear to me if this is an issue with oct2py itself or if there's something unexpected happening when Octave performs operations on NaNs.

[2017-06-15 10:14] jamesdorsey opened #129 "4.0.6 not opening plot windows"
Tried to use 4.0.6 with Python 2.7.13 on Ubuntu.

`from oct2py import octave as oct`
`oct.plot(1,1)`
`<some negative float>`

But no plot window appears. Works fine after downgrade to 4.0.0. Let me know if you need further info to replicate.

[2017-06-15 18:31] blink1073 commented on #129
The culprit is this [commit](https://github.com/blink1073/oct2py/commit/01b85951c6c5cd4f6e9c580a8d8e1584f17399e6).  I need to figure out a better way to handle the graphics toolkit.

[2017-06-15 19:40] jamesdorsey commented on #129
Might it be possible to invoke the octave session as

`octave --no-gui`

Instead of

`octave-cli`

And then use the qt toolkit? I think that would be my ideal solution, although I've probably missed something massively obvious...

[2017-06-15 20:02] blink1073 commented on #129
That might work, but I remember there being a conflict with event loops.

[2017-06-23 12:11] petachew opened #130 "Windows 10: AttributeError: 'module' object has no attribute 'STARTF_USESHOWWINDOW'"
Traceback (most recent call last):
  File "<pyshell#0>", line 1, in <module>
    from oct2py import octave
  File "C:\Python27\lib\site-packages\oct2py\__init__.py", line 38, in <module>
    octave = Oct2Py()
  File "C:\Python27\lib\site-packages\oct2py\core.py", line 73, in __init__
    self.restart()
  File "C:\Python27\lib\site-packages\oct2py\core.py", line 508, in restart
    logger=self.logg

[2017-06-26 23:20] blink1073 commented on #130
Hi @petachew, I'm not sure why that wouldn't exist.  There's not much I can do from here, it would have to be handled in [pexpect](https://github.com/pexpect/pexpect).

[2017-06-28 18:18] ppebay opened #131 "sys vs oct2py incompatibility?"
**1. Problem Statement:**
$ python
Python 2.7.10 (default, Jul 14 2015, 19:46:27)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.39)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

**2. Observed Errors:**
Error in atexit._run_exitfuncs:
Traceback (most recent call last):
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/atexit.py",

[2017-06-29 21:44] blink1073 commented on #131
I've not seen that before, and I'm not sure what would cause it.  I use OSX as well, but not the system python.

[code]

[2017-06-30 15:51] ppebay commented on #131
Thank you for the response.

I tried with another MacOS platform (with 10.12 this time, whereas for my initial message it was with 10.10), got the same error.

However I noticed that you are not seeing the problem with Python 3.5, may I ask what happens with your custom version of Python 2.7?

Thank you

[2017-06-30 19:31] blink1073 commented on #131
Works with Python 2.7 as well.  Note that the above doesn't affect runtime behavior, but it might mean that the Octave process is left open.

[2017-07-01 12:42] ppebay commented on #131
Thanks. I was wondering about that. So, is the mere fact of executing one assignment (in the case above, "a=0") sufficient to launch the Octave process, although it was not called out explicitly?

Only importing the 2 packages, but not executing any command before exiting, does not create the problem mentioned above. So, presumably, any operation (even not using oct2py) is sufficient to launch an

[2017-07-03 11:17] blink1073 commented on #131
Importing from `oct2py` has the side effect of starting a process for the default `octave` instance (`from oct2py import octave`).

[2017-07-05 00:03] ppebay commented on #131
All right, so this is entirely consistent with what I am seeing. Thank you for confirming that.

So, I am left with this problem of Octave processes left open upon exit from Python. Even calling kill_octave() **twice** does not always resolve the issue; at times it does, but in any case, if I call kill_octave() **once**, then it is never sufficient to obtain a graceful exit.

I have been able to r

[2017-07-05 01:26] blink1073 commented on #131
This is the line in `ptyprocess` that is throwing the error on shutdown: https://github.com/pexpect/ptyprocess/blob/b9b03b79a511bb2a1b405f00b36516551be1ea2c/ptyprocess/ptyprocess.py#L395.  I'm not entirely sure why it wouldn't shut down properly.

[2017-07-07 15:06] ppebay commented on #131
Hello. Yes indeed, the error is thrown by` ptyprocess`, but what I fail to understand is how this relates to oct2py. The call stack at the time of error is as follows:

[code]

but why is this even related to oct2py?

[2017-07-07 15:34] blink1073 commented on #131
We are using `pytprocess` to spawn the `Octave` process.  We create an `atexit` handler to make sure the `Octave` gets properly terminated when the `python` process exits.  However, it does not seem to be working on your system.

[2017-07-07 15:36] ppebay commented on #131
All right -- now I have all the pieces, thank you for these explanations. I am going to try to dig up what's going on exactly with the `atexit` (which indeed is what triggers the cascade of exceptions).

[2017-07-13 20:17] SnailBones commented on #131
I encountered no apparent issues on MacOS with HomeBrew, this may be an issue exclusive to MacPorts.

[2017-09-08 22:37] andrescodas commented on #131
Do you have news on this issue?

(Only) when I call python in debug mode I get the error:

----------------------------------------------------------
Error in atexit._run_exitfuncs:
Traceback (most recent call last):
  File "/usr/local/Cellar/python/2.7.13_1/Frameworks/Python.framework/Versions/2.7/lib/python2.7/atexit.py", line 24, in _run_exitfuncs
    func(*targs, **kargs)
  File "/usr/local/li

[2017-09-10 12:47] ppebay commented on #131
Hello,

Thank you for the post -- at least I know someone else is encountering the same issue.

It is noticeable that in your case it only happens in debug mode. On my systems it always happens (with the MacPorts distribution).

May I ask you what system/distribution you are using?

Thank you
Philippe PEBAY

[2017-09-10 13:43] andrescodas commented on #131
@ppebay

MacOS Sierra Version 10.12.6
Octave version 4.2.1 installed with 'brew install octave'
Python 2.7.13

[2017-09-19 01:13] inoppiy commented on #76
Hi, Is cause of this problem python's bug?

[2017-09-19 13:03] blink1073 commented on #76
I'm not sure, I can't remember the context of the fix anymore.

[2017-10-10 21:02] mickeboj opened #132 "Not compatible with new version of octave_kernel?"
Encountered a problem today when reinstalling oct2py.
After following the installation guide (did the same steps a couple of days ago and it all worked then) I got error messages when trying to use the library.  Even just using:
[code]
I got some error message ending in something like:
[code]
After comparing with the previous installation apparently a new version of octave_kernel has come out (0.2

[2017-10-10 21:20] blink1073 commented on #132
Hi @mickeboj, what was the method you used to install `oct2py`?

[2017-10-10 21:41] mickeboj commented on #132
Oh, should have specified!
Used apt-get for octave and python then I used `pip install` `numpy`, `scipy` and then `oct2py`. This resulted in getting the 0.28.0 version of `octave_kernel`

[2017-10-10 21:49] blink1073 commented on #132
Are you using `sudo`?

[2017-10-10 21:55] mickeboj commented on #132
Running as root (both installations have been in a docker container).
`pip` version is `9.0.1`

[2017-10-10 21:58] blink1073 commented on #132
Ah, I know what the problem is.  Patch release of `octave_kernel` coming soon.  Thanks for the report!

[2017-10-10 22:03] blink1073 commented on #132
Can you please try `pip install octave_kernel==0.28.1` and see if that fixes it?  (It may not be available right away depending on caching between you and PyPI).

[2017-10-11 10:37] mickeboj commented on #132
Seems that it works just fine now! After doing ```pip install numpy scipy oct2py ``` I got `octave_kernel==0.28.1`  which no longer caused any issues when using `oct2py`!

[2017-10-11 10:38] #132 closed

[2017-10-11 11:48] blink1073 commented on #132
Cheers!

[2017-11-13 12:28] truenicoco opened #133 "An `octave-workspace` file is created even if the session is properly terminated using `exit()`"
The title pretty much sums it up. Although this is most definitely a minor issue for me, it is annoying because it creates a lot of files I don't need or want.

Octave version 4.2.1
oct2py version 4.0.6

Illustration in iPython:
[code]

[2017-11-26 04:03] alphaCTzo7G opened #134 "is python 3.5 supported at this time?"
I tried installing oc2py, but got this error:

Could not find a version that satisfies the requirement oc2py (from versions: )

I am using python3.5.

Is this version supported?

Is there another way around installing from pip?

[2017-11-26 14:47] blink1073 commented on #134
Hi @alphaCTzo7G, it looks like you mis-typed it (left out the `t` in `oct2py`).

[2017-11-26 21:38] alphaCTzo7G commented on #134
ahh... damn!

[2017-11-30 11:58] ppebay commented on #131
@andrescodas
@blink1073
My apologies for having dropped a ball for a while, I was busy with other things. I just resumed looking at this Oct2Py problem, hoping it might have been fixed in the meantime.

I am using Mac OS Yosemite (10.10.5), Octave 4.2.1 like you, but installed with MacPorts (port install), and Python 2.7.10, and getting error messages very similar to yours:

Error in atexit._run_e

[2018-01-08 06:43] scivision opened #135 "Inability to use package Octave functions since Oct2Py 4.0.0"
Recently I realized that Oct2Py &ge; 4.0 fails when trying to use Octave built-in functions from packages like `signal`.
For example, `fir1` and `sgolayfilt` fail for me with Oct2Py &ge; 4.0, but work fine with Oct2Py 3.x, in particular Oct2Py 3.9 is what I've reverted to.

Anaconda Python 3.6.4 with Octave 4.2.1 (from Ubuntu 17.10 repo)

Oct2py &ge; 4.0 fails for both `test_*` functions, but work

[2018-01-08 12:15] blink1073 commented on #135
Hi @scivision, I don't have a Linux VM set up at the moment,  what does `type y` give you in Octave when running the equivalent?

[2018-01-09 04:36] scivision commented on #135
Thanks. I made a [Gist](https://gist.github.com/scivision/86aaeef0d74d4da582625074285f4fe9) with the inputs and errors.

The funny thing is, if I only give the first argument, the Oct2Py call works. I deliberately made an example where I used defaults for 2nd and 3rd input variables to `sgolayfilt`.

This odd behavior is not limited to `sgolayfilt`, it was just a convenient example.

And again, if

[2018-01-09 11:36] blink1073 commented on #135
Okay, it looks like the parameters are getting mangled on their way to Octave.  I should have my other computer set up including a Linux VM by this weekend to do some more digging.

[2018-01-14 14:17] blink1073 commented on #135
Turns out I need to send the laptop in for repairs, good times

[2018-01-15 22:11] scivision commented on #135
https://travis-ci.org/scivision/python-matlab-examples/builds/329238269

This result from Octave 14.04 with Octave 3.8.1 and Python 3.6.3.  So it's not apparently related to a particular octave version

[2018-01-30 19:56] Hzzone opened #137 "The result of pushing a numpy array makes me some confused"
Here is my code:
[code]
when I wanna push a numpy array from an image which looks like:
![lena](https://user-images.githubusercontent.com/19267349/35587998-563d10d2-063a-11e8-8425-c5c8f325c9b7.jpg)

but the image saved became nonsense:
![1](https://user-images.githubusercontent.com/19267349/35588065-7fd76fe6-063a-11e8-91de-275ea70cbcf1.jpg)

[2018-01-30 20:16] Hzzone commented on #137
python 2.7.14, macos sierra!

[2018-02-03 22:52] blink1073 commented on #137
Hi @Hzzone, my guess is that image needs to be scaled in intensity to display properly.

[2018-02-03 22:54] blink1073 commented on #137
You could output a portion of the matrix to make sure it isn't getting lost in translation.

[2018-02-05 10:39] Hzzone commented on #137
@blink1073 Thanks for you help. I think it's a wrong use of python and matlab, since the channel sequence of images read by Python `cv2.imread()` is BGR but matlab is RGB... For me I have read image once again to solve this problem, maybe it also can be solved by transposing the numpy array.

[2018-03-02 10:46] ahillie2 opened #138 "ImportError: No module named oct2py"
Hi,

I've been trying to run a simple set up using oct2py, but i can't seem to even import the library.  I believe I have followed the set up instructions precisely. Do you have any idea what might be generating this error?

![img_0707](https://user-images.githubusercontent.com/36988063/36895411-663b576c-1dd4-11e8-867b-ee43a618c6e3.jpeg)

[2018-03-02 14:41] blink1073 commented on #138
Hi @ahillie2, did you run `sudo pip install oct2py`?

[2018-03-02 15:39] ahillie2 commented on #138
Thanks for the fast reply.  I tried sudo pip install oct2py(all of the guides say pip install oct2py) and it changed the error I was receiving. It was throwing a similar error with regards to Scipy now. I assume I will have to install this as well?  I will investigate it further this afternoon.

[2018-03-02 18:48] ahillie2 commented on #138
@blink1073, When I try to run the code now, I get the same error but with regards to scipy.  I tried running **sudo apt-get scipy** and **pip install scipy** and **sudo pip install scipy**.

The error from my code is :
![img_0713](https://user-images.githubusercontent.com/36988063/36915864-cd9959f2-1e17-11e8-9ddf-96c69a839747.jpg)

The error from running sudo pip install scipy is:
Command "/usr/bi

[2018-03-02 22:28] blink1073 commented on #138
Is `sudo which pip` different from `which pip`?  If so, I would recommend:

- ```rm `which pip``
- `sudo pip uninstall scipy`
- `sudo pip uninstall oct2py`
- `pip install oct2py --user`

Which should install `oct2py` and `scipy` in `~/.local`, but still be available from `sudo python`.
You may also need to upgrade your `pip`: `sudo pip install -U pip`.

[2018-03-02 22:31] ahillie2 commented on #138
Everything was all cleared up, I followed a youtube video to download scipy.  Everything is working correctly now.

Thanks so much for your help!

[2018-03-02 22:31] #138 closed

[2018-03-14 08:59] ppebay commented on #133
@truenicoco @blink1073

Hello -- any update regarding this issue? I am observing the same problem with oct2py (obtained from MacPorts).

Thank you

[2018-03-14 09:01] truenicoco commented on #133
Unfortunately no, I'm still deleting a lot of these files manually.

[2018-03-14 17:53] ppebay commented on #133
@truenicoco @blink1073

Thanks for the update. Hopefully the package manager is looking at the issues here.

[2018-04-04 04:57] ahillie2 opened #139 "Error installing"
Hi, can you advise on how to get around this exception when typing "sudo pip install oct2py" on my raspberry pi 3 model b?
![img_0791](https://user-images.githubusercontent.com/36988063/38289196-b572a8be-379a-11e8-8909-161429f2f15a.jpeg)

[2018-04-04 05:38] #139 closed

[2019-01-05 15:39] WilesDai opened #141 "I can not find the octave.exe after installing octave"
When installing oct2py library on Python, I was required to have GNU Octave installed in my path, in another word, setx PATH "%PATH%; where the folder has the file “octave.exe”.

However, I can not find the octave.exe after installing octave using the installation packages released in https://www.gnu.org/software/octave/#install and I have tried all the three installation packages for Windows-64.

[2019-01-05 17:39] WilesDai commented on #141
I have, so set "C:/Octave/Octave-x.y.z/bin" as the System Path？ I have tried but the oct2py failed to work. Please  give me some advice. Many thanks!

[2019-01-06 02:47] WilesDai commented on #141
After typing  `octave-cli`, the information of octave like the "version" and "Copyright"  is presented in the Windows Command Prompt. But the octave software itself doesn't run.

[2019-01-06 02:48] WilesDai commented on #141
After typing octave-cli, the information of octave like the "version" and "Copyright" is presented in the Windows Command Prompt.

[2019-01-09 02:22] blink1073 commented on #141
It looks like it is on your PATH then.  Does this print anything (assumes python 3)?

`python -c "import shutil;print(shutil.which('octave-cli'))"`

[2019-01-11 15:52] WilesDai commented on #141
Many thanks for your replying! After this step, "C:\Octave\octave-4.4.1-w64\bin\octave-cli.EXE" is printed.

[2019-01-11 15:55] WilesDai commented on #141
After this step, "C:\Octave\octave-4.4.1-w64\bin\octave-cli.EXE" is printed. I still can not figure out the problem.

[2019-01-13 11:05] WilesDai commented on #141
Dear Sir, I  tried a lower version of Octave which has a octave.exe after installing and it worked. Many thanks for your help!

[2019-01-14 17:45] blink1073 commented on #141
Glad it is working now!

[2019-01-14 17:45] #141 closed

[2019-01-16 14:31] xorxx opened #142 "Returning empty string result failes"
I have an empty string result in the return values of my octave function and get the following error when executing it:
[code]

[2019-03-07 13:16] frankbolton opened #143 "oct2py and Octave5 problem"
Octave 5 appears to have a different starting point (octave.vbs with an argument for --no-gui). Attempts to add a command for starting octave to the path and to setup the octave environment variable have been fruitless.

[2019-03-07 14:35] frankbolton commented on #143
update- the location of the octave-cli.exe has been moved to C:\Octave\Octave-5.1.0.0\mingw64\bin\octave-cli.exe

[2019-03-07 14:35] #143 closed

[2019-03-13 03:12] DoNoRe opened #144 "Cannot find reader.mat when in executable form"
Hi!
I am trying to make a python executable which uses oct2py to eval a .m file. The python script works just fine independently. I have been successful in using pyinstaller to make an executable (using --onefile, no errors in building it), but when I run this executable I get the following error and the executable quits:

[code]
It appears the issue is first with 'mio.py', but I cannot figure out

[2019-03-21 01:34] blink1073 commented on #144
Hi @DoNoRe, that file is supposed to be created by Octave when running `_pyeval.m`, I'm not sure why it would be different when running from an exe.

[2019-03-23 23:19] DoNoRe commented on #144
Is there a way to designate where it (reader.mat and even writer.mat) should be made and then set that in stone so the program can find it whether it's run as an executable or a script?

[2019-03-24 22:25] blink1073 commented on #144
You can set the `temp_dir` property of the session: https://github.com/blink1073/oct2py/blob/ba70aa98453254810c7530c6506234e0f08bc42b/oct2py/core.py#L51

[2019-04-18 06:23] kupiqu commented on #144
I get a similar error (error: save: unable to open output file '/tmp/tmp0twzvs0u/reader.mat') using Octave 5.1 via flatpak package in linux.

Somehow writer.mat is there, but reader.mat is not.

[2019-04-18 17:47] kupiqu commented on #144
It seems the problem is that the temporal folder in flatpak containers is private to the container. I tried to workaround the issue with a fake octave executable for oct2py that uses the filesystem tmp, but the problem with this is that the process of the fake executable and that of the actual octave process obviously do not match, and oct2py complainsts about that: `OSError: [Errno 8] Exec format

[2019-04-19 23:56] kupiqu commented on #144
"fixed" it with: flatpak override --filesystem=/tmp org.octave.Octave

[2019-04-20 00:39] kupiqu commented on #129
Current official graphics toolkit is qt, I guess it doesn't work in oct2py, does it?

[2019-04-20 00:43] kupiqu commented on #129
There is a warning:

`__main__:1: UserWarning: Key - value pairs are deprecated, use 'func_args'`

But it actually works!

[2019-04-20 00:48] kupiqu opened #145 "raw_input has been renamed to input in python3"
There is an error when running the demo because of this, just replacing raw_input by input fixes it

[2019-04-20 17:42] kupiqu commented on #129
Actually, may I ask why did you introduce the warning? There are many arguments in Octave such as linewidth, so it's going to be very hard to add them all to the `allowed` list of arguments in dynamic.py. Or am I missing sth?

[2019-04-22 10:43] blink1073 commented on #129
Hi @kupiqu, I don't follow, which code did you change?

[2019-04-22 11:15] kupiqu commented on #129
for allowing figures to appear, just replace None by 'qt' in the commit above:

[code]

the warning appears when invoking plot with a linewidth specification (taken from your demo). I commented out this in dynamic.py:

[code]

[2019-04-24 02:41] blink1073 commented on #129
I released 4.1.0 which allows you to specify a backend property.  I also fixed that demo.  We don't allow kwargs to be used because we had some reserved keyword arguments.

[2019-04-24 10:32] kupiqu commented on #129
Excellent

[2019-04-24 10:35] #145 closed

[2019-04-25 14:57] kupiqu opened #146 "Oct2Py crash"
The second instruction does not seem to know about the first:

[code]

According to:

[code]

[2019-04-25 15:00] blink1073 commented on #146
The 'y' only exists on the Octave end unless you say `y = oc.get('y')`.

[2019-04-25 15:03] kupiqu commented on #146
actually `pull`, right?

[2019-04-25 15:03] #146 closed

[2019-04-25 15:04] blink1073 commented on #146
Ah, right

[2019-04-28 09:52] blink1073 commented on #128
Closing for lack of response.

[2019-04-28 09:52] #128 closed

[2019-04-28 09:53] blink1073 commented on #123
Closing for lack of response.

[2019-04-28 09:53] #123 closed

[2019-04-28 10:15] blink1073 commented on #142
Hi @xorxx, which version of oct2py and scipy were you using?

[2019-04-28 10:17] blink1073 commented on #127
I looked a little closer at this but did not come up with a satisfactory answer.  Something about this [invocation](https://github.com/blink1073/oct2py/blob/d71728b9e30c446131bc2f9a7ccad3a4164d6512/oct2py/_pyeval.m#L57) is causing it to behave differently.

[2019-04-28 10:52] #125 closed

[2019-04-28 10:53] blink1073 commented on #137
Closing since there is nothing to change in oct2py.  I don't want to modify the user's data any more than strictly necessary.  Cheers!

[2019-04-28 10:53] #137 closed

[2019-04-28 11:06] #133 closed

[2019-04-28 11:09] blink1073 commented on #133
Fixed in 4.2.0.

[2019-04-28 11:10] blink1073 commented on #125
Fixed in 4.2.0.

[2019-04-29 06:38] xorxx commented on #142
I used oct2py version 4.0.6

[2019-04-29 10:34] blink1073 commented on #142
Hmm, I am unable to replicate.  Do you have some sample code I can try?

![image](https://user-images.githubusercontent.com/2096628/56890914-69fab500-6a40-11e9-9790-61f66154e764.png)

[2019-04-29 10:47] xorxx commented on #142
Sorry, I have a rather large program creating a lot of result values. Maybe the cause of my error is not the empty string (which is there too) but some other object/type returned.
My string value is placed in an octave structure, perhaps this is a hint?
In your function foo you could try:
[code]

[2019-04-29 10:51] blink1073 commented on #142
No, that works fine:

![image](https://user-images.githubusercontent.com/2096628/56891670-daa2d100-6a42-11e9-8cc3-2042bc6c98bf.png)

[2019-04-29 11:42] xorxx commented on #142
Sorrym I have no further suggestions on how to reproduce the error message.
Thank you for your efforts!

[2019-05-02 12:26] blink1073 commented on #142
Cheers, closing as answered for now.

[2019-05-02 12:26] #142 closed

[2019-05-02 12:32] #129 closed

[2019-05-02 20:36] #130 closed

[2019-05-02 20:37] blink1073 commented on #124
This is now fixed in 4.3.

[2019-05-02 20:37] #124 closed

[2019-05-03 13:51] kupiqu opened #147 "error octave-cli not found"
the executable option does not seem to be considered, I always get the following error:

[code]

[2019-05-03 14:00] kupiqu opened #148 "kernel errors"
If I workaround issue #147 making octave-cli visible to the kernel with a soft link (/home/username/.local/bin/octave-cli), I get these errors:

[code]

[2019-05-03 14:56] blink1073 commented on #148
Are you trying to soft-link to an `octave-cli` or `octave` itself?  We only support the `octave-cli` executable.

[2019-05-03 14:57] blink1073 commented on #147
Closing as a duplicate of #148.

[2019-05-03 14:58] kupiqu commented on #147
Not duplicate

[2019-05-03 14:59] kupiqu commented on #148
I soft-linked to octave-cli, but octave 5 is smart enough so it called from terminal it behaves as octave-cli. anyways, this discussion should be in #147 not here, this is a different bug, once octave-cli is set by hand.

[2019-05-03 15:00] blink1073 commented on #144
I don't think there is anything we can do on the `oct2py` end.  We rely on shared files to move the data between `Python` and `Octave`.

[2019-05-03 15:01] kupiqu commented on #147
please reopen, this bug is not solved. even if I set the path to octave-cli in oct2py call, the same error occurs...

[2019-05-03 15:04] kupiqu commented on #148
by set by hand I mean soft-linked instead of a path added in oct2py call

the error here (errors after finding octave-cli) and that of #147 (not finding octave-cli when referenced in oct2py call) are not the same, so one cannot be duplicate of the other

[2019-05-03 15:04] blink1073 commented on #131
This can be fixed by running `pip install -U oct2py octave_kernel`.

[2019-05-03 15:04] #131 closed

[2019-05-03 15:07] blink1073 commented on #147
Are you able to run `octave-cli` directly from your terminal?   If so, what is the output?

[2019-05-03 15:13] kupiqu commented on #148
Ok, it seems there is an error in how Octave 5 releases octave-cli, as it is not functional, at least when packaged in flatpak (will check out with them).

I workaround the issue creating a soft-link to octave instead of octave-cli, because as I was saying octave behaves as octave-cli when called from terminal.

This fixes this issue, so closing, however, I still think issue #147 needs fixing.

[2019-05-03 15:13] #148 closed

[2019-05-03 15:16] kupiqu commented on #147
As I mentioned in issue #148, octave-cli fails whereas octave works. This seems an issue in upstream octave, perhaps while packaging (flatpak). Will check with them.

However, the issue here is different, it's about the executable option of oct2py not being taken into account. I still think this needs fixing...

[2019-05-03 15:16] blink1073 commented on #144
I labeled as reference in case someone else has a similar issue.  A PR with some pointers on using `flatpack` in the README would be welcome ;).

[2019-05-03 15:16] #144 closed

[2019-05-03 15:19] blink1073 commented on #147
Ah, I see what the issue is here.  The convenience `octave` instance is created before you get a chance to set the `executable` property.  Given that fact, I think the only right answer is to remove the `executable` argument in favor of using PATH or the OCTAVE_EXECUTABLE environment variable.

[2019-05-03 15:20] blink1073 commented on #147
I'll do that and cut a major version number.

[2019-05-03 15:24] kupiqu commented on #147
I see. That's unfortunate, I liked having the executable option, but if there's no other way...

[2019-05-03 15:36] #147 closed

[2019-05-03 17:35] ppebay commented on #131
Thank you for having resolved the issue.

On 2019-05-03 11:04, Steven Silvester wrote:

Links:
------
[1]
https://github.com/blink1073/oct2py/issues/131#issuecomment-489127282
[2]
https://github.com/notifications/unsubscribe-auth/AEFBUHE3FOE3A6HBOWPR2M3PTRIBHANCNFSM4DRBLHXQ

[2019-05-04 09:54] #126 closed

[2019-05-04 12:37] kupiqu commented on #127
This example crashes oct2py in my system:
[code]

[2019-05-04 12:40] kupiqu commented on #135
This example works fine in my system once I use the changes from commit 52206dc5e07dc3e69cc99015926bb03a8703fe44

[2019-05-05 09:55] blink1073 commented on #127
Thanks for the further info @kupiqu.  This seems to be a bug in the way Octave handles cell array expansion as function arguments, but we rely on this capability to pass the arguments to Octave.

[2019-05-05 10:05] #135 closed

[2019-05-05 12:41] kupiqu commented on #135
Unfortunately the latest changes (at least in conda version) creates a crash in how the arguments are passed (it was working before):

[code]

[2019-05-05 13:00] kupiqu commented on #135
If I use master I get this instead:
[code]

[2019-05-05 13:04] kupiqu commented on #135
Although this won't fix the crash, I would suggest renaming index to idx or alike to avoid shadowing Octave's index function.

[2019-05-05 13:58] kupiqu commented on #127
- Found what is going on:

[code]

- If one does `oc.foo(np.nan, 2., nout=3)` instead:

[code]

And the result is the expected ([res, a, b]): `[nan, nan, 2.0]`

- I guess Oct2Py would need to ensure all numeric arguments are set to double, which is what Octave/Matlab uses internally to avoid this type of surprises...

- Another surprise because of this is how numbers are rounded to integers ([res,

[2019-05-05 14:18] kupiqu commented on #127
Now that we know better the root of the issue, I would suggest to change the title of the issue, as the bug is not related to communicating nan's between python and octave.

Instead the bug results from how each of the languages automatically casts results from operations when variables of different type (e.g., double and int64) are involved.

This will most likely require a change in how numeric

[2019-05-05 15:07] kupiqu commented on #127
This is basically what I said above. It's a doc from Matlab, but the same applies to Octave as well:

https://www.mathworks.com/help/matlab/matlab_external/default-numeric-types-in-matlab-and-python.html

[2019-05-05 15:27] kupiqu commented on #127
A way to fix this is adding `req.func_args = cellfun(@double,req.func_args,'UniformOutput',0);` in:

[code]

Actually, this also fixes the remaining issue I talked about in #135

[2019-05-05 15:31] kupiqu commented on #127
I want to note that this is not a proper fix by itself, because one would need to first check that the content is numeric, and only in that case, cast it to double.

[2019-05-05 22:46] blink1073 commented on #127
Wow, thanks for digging into this, @kupiqu!  We are parsing all of the values before sending them to Octave, so we need to convert integer Python values to float.  We have a property for whether to convert all values (including arrays) to float: https://github.com/blink1073/oct2py/blob/master/oct2py/core.py#L55

[2019-05-05 22:53] kupiqu commented on #127
That's nice. I guess it would be good to have it enabled by default to avoid these surprises.

[2019-05-05 22:56] kupiqu commented on #127
But it seems it is enabled by default already, isn't it? Is there a bug in there?

[2019-05-06 00:23] #127 closed

[2019-05-08 02:08] DoNoRe commented on #144
Sorry about the delay in responding guys..
Also what seems to work is setting:
<<self.temp_dir = "YOUR PRE MADE FOLDER">>

in oct2py/oct2py/core.py per blink1073's answer above. I was able to generate executables successfully using that method.

[2019-05-08 02:08] DoNoRe commented on #144
Thanks for the input kupiqu!

[2019-05-08 02:37] kupiqu commented on #144
Cannot you pass that folder to Oct2Py with the temp_dir argument? For instance:

[code]

https://blink1073.github.io/oct2py/source/api.html

[2019-05-18 15:51] andrescodas opened #152 "oct2py without gnuplot"
I would like to use oct2py for computations and I do not require plotting.
Is there a way to instantiate Oct2Py() with no plotting backend?
What should be the option?

[2019-05-18 20:02] andrescodas opened #153 "interface bool as bool"
is it possible to interface bools from python to logical variables in octave? e.g.:

[code]

[2019-05-19 11:05] blink1073 commented on #153
Hi @andrescodas, that is a bug.  It should be converted to an Octave logical.  I'm not 100% sure if that will be possible through `scipy.savemat`, but I'll give it a shot.

[2019-05-19 11:06] blink1073 commented on #152
That isn't currently possible but you raise a good point.  I will add that feature.

[2019-05-20 14:00] andrescodas opened #154 "ValueError: invalid literal for int() with base 10: 'enabled.'"
I'm getting **random** errors like this:
[code]
I say it is random because I'm unable to reproduce it when I'm debugging, and therefore I'm unable to find its root cause.

[2019-05-20 15:09] blink1073 commented on #154
Wow, that is an interesting one.  The `exist()` function is supposed to return an integer.  Do you have some code that at least randomly triggers the bug?

[2019-05-20 17:51] andrescodas commented on #154
Unfortunately, I'm unable to share this project with you. I have been trying to isolate it into a minimum failing example without success.  I will share an example later if I isolate it.  Other unexpected error I'm experiencing is:

[code]
where **_log()** is a function in the logging package

Not sure if it is related

[2019-05-20 18:01] blink1073 commented on #154
Ah, I know where that error is coming from.  I'm not sure when I'm going to have the bandwidth to work through these issues.

[2019-05-20 18:05] andrescodas commented on #154
Is there a workaround I can use in the meantime?

[2019-05-20 19:05] blink1073 commented on #154
For now you can go to `/usr/local/lib/python2.7/dist-packages/metakernel/replwrap.py` and comment out this section:

[code]

[2019-05-20 19:06] blink1073 commented on #154
The problem is that we're passing `log.info` as the `stream_handler`, which doesn't support an `end` keyword arg.  I'm not yet sure how to properly handle this.

[2019-05-20 19:21] blink1073 commented on #154
Thinking out loud: given that we're tied to using logging for the logger, I don't think we can support true streaming output (like a progress bar), so I think the octave engine needs a parameter for this that it passes to replwrap to determine whether to use the code path above.

[2019-05-20 19:35] blink1073 commented on #154
Alternatively, there are two types of receivers: line and stream.  We would use a line receiver from oct2py, but the Octave kernel would be able to support a stream.

[2019-05-24 09:33] blink1073 commented on #154
cf https://github.com/Calysto/metakernel/pull/188 for an impending fix.

[2019-05-29 21:21] DonaldKevin opened #155 "I do not get the same results as your roundtrip example"
When I try your example, I do not get the same result.
ubuntu 18.04
GNU Octave, version 4.2.2
Tried python 2.7, same results.
[code]

I put some prints in the dot m file, and it appears that the problem is on the return.
[code]

[2019-05-30 01:27] scivision commented on #135
Thanks, I noticed this was closed and it works now. We patiently waited for and really appreciate the renewed stream of Oct2Py development!

[2019-05-30 02:34] blink1073 commented on #135
Thanks for your patience and for the encouragement!

[2019-05-30 21:29] blink1073 commented on #155
Thanks!  The docs are indeed out of date.

[2019-06-02 10:07] #155 closed

[2019-06-04 17:52] andrescodas commented on #154
Thanks for the fix!.  I couldn't reproduce the errors after updating.

[2019-06-04 17:52] #154 closed

[2019-09-02 11:19] IvoMerchiers opened #157 "Pandas support"
Would it be possible to have some basic support for pandas DataFrames and Series.
This should not provide extensive support for all cases, but some method that can automatically transform dataframes to a valid octave type would seem useful.

I saw that [this issue](https://github.com/blink1073/oct2py/issues/125) mentioned support for pandas Series, but this is not covered in the docs.

[2019-09-02 18:27] blink1073 commented on #157
Hi @IvoMerchiers, we added support Pandas Dataframes and Series in [4.2](https://github.com/blink1073/oct2py/blob/8d6561cfd41a8001a7fef62ad99d622ecdd81dde/HISTORY.rst#420-2019-04-28).  Is there something specific that isn't working?

[2019-09-02 18:27] blink1073 commented on #157
An example for the docs would be most appreciated!

[2019-09-04 07:08] IvoMerchiers commented on #157
@blink1073 That's great to hear! I didn't test it in practice, but was just looking at the features of the package and thought it was missing.

It might be a good idea to mention it in the Features section in the main Readme.md.

Should I make a new issue for the documentation and close this one, or should I just change the title of this thread?

[2019-09-04 09:31] blink1073 commented on #157
Title change is fine

[2019-09-11 10:50] prbuen opened #158 "Plots not showing when called from within eval"
Hi,

I have just installed oct2py and am trying to make plots from inline octave source. When I use`Oct2Py.plot`, a figure with the plot pops up, but not when I call octave's plot function from within `Oct2Py.eval`:
[code]
There is no error message when running `eval`. The code executes silently -- no figure window is opened.

I am on MacOS 10.14, python 3.7.4, octave 5.1.0, oct2py 5.0.4, using gn

[2019-09-11 11:50] blink1073 commented on #158
Hi @prbuen, I don't have the bandwidth to make changes to this repo at the moment, but it looks like some of the plot handling logic in [feval](https://github.com/blink1073/oct2py/blob/564fad5dfdb2e7985fc46c0407e32b78a9f5046e/oct2py/core.py#L346) would need to be brought into [eval](https://github.com/blink1073/oct2py/blob/564fad5dfdb2e7985fc46c0407e32b78a9f5046e/oct2py/core.py#L381)

[2019-09-11 15:58] prbuen commented on #158
Indeed, writing the octave source code to a `.m` script and calling it with `feval` works as expected. It would be great if that plot handling code could be merged into `eval`, thanks!

[2020-01-09 13:04] tam17aki opened #159 "invalid return values as list"
I have prepared the following m-file.
[code]

Then I tested the m-file as:
[code]
Unfortunately, the following results were obtained:
`[2. 3.]
 [4. 5.]
`

I think that expected results should be
[code]
The latest version of oct2py cannot return the MATLAB list and cannot separate it into arrays, is it correct ?
I am sorry if i have misunderstood.

Thank you.

[2020-01-09 16:09] tam17aki commented on #159
Additionaly, the following code raise an error:
[code]
[code]

[2020-01-09 17:15] blink1073 commented on #159
Hi @tam17aki, oct2py no longer infers the number of output arguments (it was too brittle).  You can specify using `nout=2`, e.g. `octave.test(x, nout=2)`.

[2020-01-09 22:28] tam17aki commented on #159
Hi @blink1073,

Thank you very much!
Now I understand the specification using nout,  and I can obtain the expected results.

Best regards,
Akira

[2020-01-09 22:58] tam17aki commented on #159
I suggest that the official example document should be fixed about `nout = 2`, because it says
`out, oclass = octave.roundtrip(x)`
http://blink1073.github.io/oct2py/source/examples.html

Best regards,
Akira

[2020-01-22 17:21] marcoistasy opened #160 "Octave evaluation error: error: cannot read beyond the last record"
Hello,

I am running `oct2py` with `fieldtrip` to try to read some eeg data. However, when I set all my path variables

[code]

and try to read in the file using this function `file = octave.read_neuralynx_ncs('/home/Desktop/data/LACC1_0001.ncs')` I recieve the following error message:

[code]

I am wondering why this might be the case?

[2020-01-24 17:14] blink1073 commented on #160
Hi @marcoistasy, does that code work when run from Octave itself?

[2020-04-15 17:56] ankostis commented on #115
Could it be occurring again this issue with Octave-5.2.0 _ oct2py 5.0.4?
I'm running an M-file and i'm not getting back any location-context on errors.

[2020-04-16 11:12] ankostis opened #162 "Setting log-level to INFO needlessly hinders debugging"
This library configures the logging-level of its own logger to `INFO`:
https://github.com/blink1073/oct2py/blob/564fad5dfdb2e7985fc46c0407e32b78a9f5046e/oct2py/utils.py#L45

Libraries need not concern themselves with logging configurations - that's client's business
(unless they are forced to do that, for projects downstream, to read their logs e.g. tornado).

For instance, `pytest` provides for c

[2020-05-11 08:24] wdeshazer opened #164 "oct2py with PyCharm"
I have installed oct2py and successfully executed the ones function. Now I am trying to do a simple plot and am not receiving an error message nor receiving a plot. The issue looks similar to the backend questions. In PyCharm interactive plotting mode the backend is Qt5Agg. The default is 'module://backend_interagg'. Is Oct2py compatible with PyCharm? If so, do I need to change a setting in oct2py

[2020-05-11 10:16] blink1073 commented on #164
Hi @wdeshazer, I don't plan to support PyCharm directly, since I have never used PyCharm.  That said, you can get more debug information by setting the log level to DEBUG, e.g.:

[code]

[2020-06-08 11:50] raghuramdr opened #165 "Example on read the docs throws error"
Hi, first of all, thank you very much for this package. I was going through the documentation and was flummoxed by this error. I am trying to run the example shown [here](https://oct2py.readthedocs.io/en/latest/source/examples.html#python-session).
However, I get the folllowing errors:

[code]
I am using Python 3.6.10 and Octave 4.0.0 on Ubuntu 16.04

[2020-06-08 11:53] raghuramdr commented on #165
It is not an error there, I did not follow the example properly. Sorry for the false alarm

[2020-06-08 11:53] #165 closed

[2020-06-08 12:00] blink1073 commented on #165
No worries, and thanks for the thank you!

[2020-06-16 07:59] kiis7 commented on #144
I am experiencing the same problem on Windows executable. I tried specifying the temp folder but still caught the error.

[2020-06-22 21:43] zouhairm opened #166 "TypeError: Expecting miMATRIX type here, got 6 when using octave.ss"
Trying to use oct2py (v 5.0.4) in combination with the control package (https://octave.sourceforge.io/control/) but running into an issue

[code]

The exception is:
[code]

Quick google search implies that this is somewhat related to loadmat from scipy. It looks like the temp mat file that oct2py is trying to read is a V5 file, not sure if that's part of the issue?

Here is the head of the file:
[

[2020-06-22 22:13] blink1073 commented on #166
Hi @zouhairm, we're asking Octave to create a V6 file [here](https://github.com/blink1073/oct2py/blob/233d388806e84f32001dcff31d73aeb074260363/oct2py/_pyeval.m#L97) and then using [loadmat](https://github.com/blink1073/oct2py/blob/233d388806e84f32001dcff31d73aeb074260363/oct2py/io.py#L36).
One thing to maybe try is saving manually from Octave without putting the `ss` output in a struct object, and

[2020-06-30 20:08] shlomotz opened #167 "Incorrect parsing of multiple "cell" data type"
0

I have the following ovtav function : (XY_Stimuli.m)

function [Xhex,Ynhex]=XY_Stimuli(x_amplitude,n_amplitude,b0,b1)
X=x_amplitude*(rand(1024,1)-0.5);
n=n_amplitude*(rand(1024,1)-0.5);
Y=filter([b0,b1],1,X);
Yn=Y+n;
X=floor(X*2^15+0.5)/2^15;
Yn=floor(Yn*2^15+0.5)/2^15;
for sample=1:1024
 if(X(sample)>0)
    X(sample)=X(sample)*2^15;
else
    X(sample)=X(sample)*2^15+2^16;
end
if(Yn(sample)>0)

[2020-07-01 14:56] Volker-Weissmann opened #168 "SIGINT gets ignored if sympy and oct2py is imported"
**How to reproduce:**
[code]
Execute the program above and wait until it prints "sleeping". Then run `pkill python --signal SIGINT` (or press Ctrl -c in the console).

**Expected Behaviour:**
It should print out

and exit.

**Observed Behaviour:**
It does not print anything and does not exit.

**System**
Python 3.8.3
Archlinux

**Notes**
I don't know if this has anything to do with the bug, but du

[2020-07-01 16:51] blink1073 commented on #167
Hi @shlomotz, does it work if you  use `x, y = octave.XY_Stimuli(1,0.2,0.5,0.3, nout=2)` to specify 2 outputs expected?

[2020-07-01 16:55] blink1073 commented on #168
I think this is related to https://github.com/scipy/scipy/pull/9129

[2020-07-04 02:06] syrte opened #169 "Pointer to expression"
Sometimes, we want to refer to expression in the octave, e.g., `{@cos @sin}`,  which can not be converted into python object.
`octave.eval('{@cos @sin}')` will raise an error, while octave.pull('{@cos @sin}') or `octave.get_pointer('{@cos @sin}')` will treat this cell as a function.
In this case, we can create a pointer to an expression.
[code]
And call it as `cossin = get_expr('{@cos @sin}')`.

I

[2020-07-04 02:18] syrte commented on #169
Another simpler way to do this is to assign a variable to the expression.
[code]

[2020-07-04 10:44] blink1073 commented on #169
Hi @syrte, I'm not planning to expand anything in `oct2py` in the short term, focusing on other OSS projects.  If you'd like to take a crack at adding an API or an example with your second variant, I'd be happy to accept the contribution.

[2020-07-05 05:36] shlomotz commented on #167
Hi blink1073,

Thanks a lot , 'nout=2' does solved the issue.
Could you please elaborate or give a references about "nout" ? (why/when it's required)

Best Regards,
Shlomo

[2020-07-05 11:09] blink1073 commented on #167
There's an example in the [demo docs](https://github.com/blink1073/oct2py/blob/82d2ae7d8f641b2759b83a62db3528efe1e54382/docs/source/demo.rst) and the [API docs](https://github.com/blink1073/oct2py/blob/82d2ae7d8f641b2759b83a62db3528efe1e54382/oct2py/core.py#L407).
If you'd like to make a PR adding it to the README I would be happy to accept.

[2020-07-07 01:39] syrte commented on #169
@blink1073 Thanks for your kind response!

Personally, I prefer `octave.get_pointer('{@cos @sin}', expr=True)`, as it only makes a tiny change to the API.
I might get back with a PR later when I have the time.

[2020-07-07 08:15] blink1073 commented on #169
Sounds good!

[2020-08-03 18:59] yasirroni commented on #167
Added to README in [7f46a30](https://github.com/blink1073/oct2py/pull/170/commits/7f46a3025568937dd04ab7cafaa99c603be2e121)

[2020-08-06 06:21] yasirroni commented on #167
You should mark this issue as closed after the merge of [a10b64a](https://github.com/blink1073/oct2py/commit/a10b64ad83c6de5e28106cdfccc353a5712b3107) and release 5.2.

[2020-08-06 06:25] yasirroni commented on #159
Solved in [f16f0bd](https://github.com/blink1073/oct2py/pull/170/commits/f16f0bd36c650a4f813790b2c48f3436031daf1a)

[2020-08-06 06:26] yasirroni commented on #167
Solved in [f16f0bd](https://github.com/blink1073/oct2py/pull/170/commits/f16f0bd36c650a4f813790b2c48f3436031daf1a)

[2020-08-06 08:35] #159 closed

[2020-08-06 08:35] #167 closed

[2020-08-10 17:08] amcoastal opened #172 "plot not rendering from inside .m"
Hello,

I'm trying to run a numerical model and everything seems to be working great -- except the calls to "plot" and "subplot" don't seem to be having any effect when ran inside of a .m function.

Specifically I amrunning:

[code]
Inside of assim_1dh.m there is a loop an if statement (that does execute when tested with print statements:
[code]

The code does go inside of the 'if' statement, but

[2020-08-17 15:07] blink1073 commented on #172
This is a limitation of our ability to interact with the Octave session - we ask it to for all rendered plots *after* a full code block has been run.

[2020-09-02 12:36] gonebanana opened #173 "oct2py & pyinstaller"
Good afternoon!
Consider such situation.
I have a simple Octave (5.1.0.0 version) function, that should display a message by
`disp('WELCOME TO OCTAVE')`
and save 2x3 array to the file by
`dlmwrite(strcat(path,'/test.csv'), a, ',')`
I use this through PyCharm by
`oct = oct2py.Oct2Py(temp_dir=resource_path("."))`
`oct.test_writing(os.path.abspath("."))`
and it makes output `WELCOME TO OCTAVE` and cr

[2020-09-02 15:16] blink1073 commented on #173
Hi @gonebanana, I'm not familiar with pyinstaller, I'm not sure how to help debug this.  It sounds like it might not have picked up the [`_pyeval`](https://github.com/blink1073/oct2py/blob/8970a6692ced5d8d0c3b85b9c8c769416fbf86d9/oct2py/_pyeval.m) file.

[2020-09-03 06:47] gonebanana commented on #144
Hey everybody!
I found a solution for myself in Windows, and can tell if it would be helpful for someone.
1. I have added the function  resource_path(relative_path) as shown here
[https://stackoverflow.com/questions/42251295/file-path-for-pyinstaller-bundled-images]
2. then I set the temp_dir like this
`oct = oct2py.Oct2Py(temp_dir=resource_path("."))`
3.  running a program via PyCharm and it crea

[2020-09-03 07:02] gonebanana commented on #173
Yes, it sounds like this :D
There is one thing more.
I made there a comment [https://github.com/blink1073/oct2py/issues/144#issuecomment-686291429](url) about adding file reader.mat
I just add an existing file reader.mat (made by the same code out of exe), but it is not still creating by itself inside.
May be you can know if it can cause some problems?

[2020-09-03 09:52] blink1073 commented on #173
The [`reader.mat`](https://github.com/blink1073/oct2py/blob/a10b64ad83c6de5e28106cdfccc353a5712b3107/oct2py/core.py#L537) is created as needed.  I'm not sure if pyinstaller is doing something that is preventing that from happening.

[2020-09-04 06:27] gonebanana commented on #173
Hello again!
The file writer.mat as I understand, is creating here:
https://github.com/blink1073/oct2py/blob/a10b64ad83c6de5e28106cdfccc353a5712b3107/oct2py/core.py#L554
and file reader.mat in its turn should be created in octave func _pyeval.m througt the code
https://github.com/blink1073/oct2py/blob/a10b64ad83c6de5e28106cdfccc353a5712b3107/oct2py/core.py#L563
So, if i have an error  `error: '_py

[2020-09-04 12:17] blink1073 commented on #173
In this line we try and add `_pyeval.m` to the list of scripts: https://github.com/blink1073/oct2py/blob/a10b64ad83c6de5e28106cdfccc353a5712b3107/oct2py/core.py#L524.  You could try using `oct.test_writing(os.path.abspath("."), verbose=True)` to see if it gives more insight.   I'm going to be away from my computer for the next couple days.

[2020-09-07 08:35] gonebanana commented on #173
I was also too)))
The line of code you sent is the part of function `restart`, however, inside `try` at line  563, there is no such action.... I even made a ` step into` debug during process and it didn't go through https://github.com/blink1073/oct2py/blob/a10b64ad83c6de5e28106cdfccc353a5712b3107/oct2py/core.py#L524 after
https://github.com/blink1073/oct2py/blob/a10b64ad83c6de5e28106cdfccc353a5712

[2020-09-08 13:45] gonebanana commented on #173
Please, look one more time!
I'm using environmental variables with the aim of using exe at any computer (even without Octave), so i hide a folder with `octave-cli.exe` and file `kernel.json` inside exe:
`os.environ["OCTAVE_EXECUTABLE"] = resource_path('Octave-5.1.0.0\\mingw64\\bin\\octave-cli.exe')`
`os.environ["OCTAVE_KERNEL_JSON"] = resource_path('Octave-5.1.0.0\\kernel.json')`
`import oct2py`
`

[2020-09-08 13:55] blink1073 commented on #173
I'm sorry, I'm really not sure what is happening.  I don't use Windows.  `restart()` is called in the [constructor](https://github.com/blink1073/oct2py/blob/a10b64ad83c6de5e28106cdfccc353a5712b3107/oct2py/core.py#L76).

[2020-09-08 13:57] gonebanana commented on #173
okay((
thank you
on this way, i'm closing the issue

[2020-09-08 13:57] #173 closed

[2020-09-25 16:16] gblabi commented on #147
Hi, sorry I don´t get where the executable argument has to be removed. I am having the same issue

[2020-10-01 09:06] no-clue-what-to-do opened #174 "Returning class object from Oct2Py"
I'm trying to run a basic MATLAB script that defines a class, and get that class object returned to python. I don't know MATLAB well, and am very new to Oct2Py so I may be completely misunderstanding how to do this. Any help would be greatly appreciated.

Here is the Matlab file (taken from here)

[code]
And I call this in the python script with the following

[code]
when I run this I get a warnin

[2020-10-03 13:13] yasirroni commented on #174
I don't think oct2py support calling .m class as python object. What you can do is make your .m file as function with input and output. Then, use oct2py to pass an input and fetch the output. See [conversion](https://blink1073.github.io/oct2py/source/conversions.html) of data between python and octave.

[2020-11-08 18:36] Antonio-Nappi opened #175 "How can I load an octave package from python?"
I need to execute some matlab code, so I installed this library. In the matlab I call the "fmincon" function, and in the python script there is an error because it says that "fmincon" is undefined. I think that it's because the package it's not loaded, so could I load dynamically a package?

[2020-11-09 20:59] blink1073 commented on #175
Hi @Antonio-Nappi, it looks like you need the `optim` package installed locally:

https://octave.org/doc/v4.2.1/Using-Packages.html
https://octave.sourceforge.io/optim/function/fmincon.html

[2020-11-10 11:29] Antonio-Nappi commented on #175
Yes, I have it installed, I solved my problem just loading the package before the script.

[2020-11-10 11:29] #175 closed

[2020-12-25 13:23] milind-prajapat commented on #147
Hey! Also have the same error. I am on Octave v6.1.0.  octave-cli works fine through cmd. Path to octave-cli is set to PATH, OCTAVE_EXECUTABLE but still it shows the error.
    raise OSError('OCTAVE_EXECUTABLE does not point to an octave-cli file, please see README')
OSError: OCTAVE_EXECUTABLE does not point to an octave-cli file, please see README

[2021-01-08 23:54] Mathieu1972 opened #176 "oct2py does not display the figure(1) and figure (2) stays frozen."
Hello,
I have gnuplot 5.4 installed on Windows 10 , Octave (python 3.7 32 bit) and Octave 64 bit 6.1.0, oct2py 5.2.0.
running this simple code keeps the plot window frozen to Figure 2:
##############################################################
from oct2py import octave
from oct2py import Oct2Py
oc = Oct2Py()
octave.graphics_toolkit('gnuplot') # Note : this line answers 'fltk' when executed lin

[2021-01-11 16:24] blink1073 commented on #176
`gnuplot` must be properly installed in order to plot: http://blink1073.github.io/oct2py/source/installation.html#gnu-octave-installation

[2021-01-11 18:30] Mathieu1972 commented on #176
Hi,
Gnuplot was installed from https://sourceforge.net/projects/gnuplot/files/gnuplot/
, i don't know if there is anything missing to get the installation correct.
Anything wrong with this method of installation ?

[2021-01-11 20:58] blink1073 commented on #176
When you run `octave` on its own, is `gnuplot` listed under `available_graphics_toolkits`?

[2021-01-11 22:02] Mathieu1972 commented on #176
Hello,
Yes i get this:

ans =
{
  [1,1] = fltk
  [1,2] = gnuplot
  [1,3] = qt
}
and the plot are stables and accessible/visible in Octave.

[2021-01-12 20:15] blink1073 commented on #176
Ah, it could be that you're calling `octave.graphics_toolkit('gnuplot')` instead of `oc.graphics_toolkit`, which are two different sessions.  When I try your example locally I get two figures.

[2021-01-12 21:18] Mathieu1972 commented on #176
Hi,
Strange, on my side i have always the problem of only one figure and still not responding.
![image](https://user-images.githubusercontent.com/47786850/104375644-b5ddde00-54f1-11eb-865b-28c1edb723ef.png)

[2021-01-12 21:50] blink1073 commented on #176
I'm not sure, plotting interaction between Octave and Python has always been tricky.   I'd recommend getting the data into Python and plotting with a Python plotting library.

[2021-01-12 22:34] Mathieu1972 commented on #176
Hi,
The problem is that i must run an existing Matlab program. If my colleague change tomorrow for a new version, i will have to modify each time their program..
I am surprised that it works for you and not for me. Octave run their script without problem.
It's just once using Oct2py module that i get instability on figures.
For example oc.figure(1) only does not give any figure at all. Only giving

[2021-01-21 11:57] Wallflower123 opened #177 "Problems importing the oct2py python package"
Hello, I am having problems importing oct2py package in my python script.
Whenever `import oct2py` is run I get the following error:
`>>> import oct2py
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Program Files\Python37\lib\site-packages\oct2py\__init__.py", line 38, in <module>
    octave = Oct2Py()
  File "C:\Program Files\Python37\lib\site-packages\oct2py\

[2021-02-05 09:01] #177 closed

[2021-02-06 20:21] tverbeke opened #178 "reader.mat not found with Octave 6.1.0 snap on Ubuntu 20.04 / Python 3.8.5"
To reproduce:

[code]

Launch python:

[code]

Let me know if I can provide any additional information!

[2021-02-06 20:26] tverbeke commented on #178
I have the feeling https://github.com/blink1073/oct2py/issues/144#issuecomment-484611115 is relevant, but there it's flatpak, not snap.

[2021-02-08 22:44] dmkriete commented on #177
@Wallflower123 were you able to resolve this issue? I'm encountering the exact same error and have not been able to fix it.

[2021-02-09 08:35] Wallflower123 commented on #177
@dmkriete Yes, I started using Anaconda and Spyder instead of my own python installation.

[2021-02-09 10:11] dmkriete commented on #177
@Wallflower123 Hmmmm I am already using Anaconda and Spyder, and I have tried many different versions. Could you tell me which version of Anaconda, oct2py, and octave you have it working on?

[2021-02-09 10:18] Wallflower123 commented on #177
@dmkriete Hmm weird, I am on Windows and using the latest version of Anaconda...
Have you tried uninstalling and re-installing Anaconda? Also, do not forget to run the command prompt as an administrator and delete the Temp folder if your on Windows too..

[2021-02-09 10:46] dmkriete commented on #177
@Wallflower123 Yes, I have tried uninstalling and re-installing Python, Anaconda, and Octave several times (using different versions), all without success.

[2021-02-09 10:49] Wallflower123 commented on #177
@dmkriete Maybe Skype so we can see together? But not now...

[2021-02-15 06:06] slowglow opened #179 ""TypeError: buffer is too small for requested array" when used with `pkg` command on Octave 6.1.0 on windows"
After upgrading Octave from v.5.2.4. to v.6.1.0 on Windows 10 I get strange behavior from the `pkg` function.

[code]
When called as `eval`-string it works fine and I use this currently as a work-around:

[code]
Other functions seem unaffected:

[code]
As unnecessary use of 'eval' statements is frowned upon, I would prefer to be able to use the dot-notation call functionality.
Is this something th

[2021-02-15 18:59] slowglow commented on #179
After investigating a bit further I came upon past examples of similar errors generated by character decoding issues in `scipy`:
- `latin1` or `utf-8` character conversion https://github.com/scipy/scipy/issues/5516 <-issue closed
-  non-breaking space character conversion https://github.com/scipy/scipy/issues/4146 <- issue still open

If this is an upstream issue with `scipy`, before talking to up

[2021-02-26 18:30] nickygb opened #180 "interp2 Octave evaluation error: structure has no member 'dname'"
Hi,

I have updated oct2py from 3.9.2 to 5.2.0 and now I'm getting some error when trying to use octave `interp2` function.
The function works properly in 3.9.2 but in the latest version I get the following error:
[code]

[2021-03-02 05:18] JuanJ67m opened #182 "update samples please"
I tries use this library since Octave 6.2 and does not work any sample

We need a updated tested samples version with a video showing how to use it.

[2021-03-10 07:49] arnodelorme opened #183 "qt library"
QT is the default Octave library and the most compatible with Matlab.

I was able to trick oct2py to use it by forcing it to call "octave" (GUI) instead of "octave-cli" (simply changed the symbolic link of octave-cli on OSx). On Windows, I was not so successful.
However, is there a better way to do that? I was reading that it might be possible to set some parameters for the back end of oct2py #129

[2021-03-19 23:14] mpiorczynski opened #184 "[WinError 193] %1 is not a valid Win32 application"
(base) D:\Python\PPPD>jupyter kernelspec list
Available kernels:
  octave     D:\anaconda3\share\jupyter\kernels\octave
  python3    D:\anaconda3\share\jupyter\kernels\python3

(base) D:\Python\PPPD>python -m octave_kernel.check
Octave kernel v0.32.0
Metakernel v0.27.5
Python v3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]
Python path: D:\anaconda3\python.exe

Connecting to Oct

[2021-03-19 23:16] #184 closed

[2021-03-27 08:26] KaranSohal opened #185 "Sentinel error occurred while executing oct2py in python for running octave script"
I am trying to use oct2py to run octave script(.m file) in python. here is the code

[code]
it runs my .m file and shows the results also but after that I receive following error.

[code]
whats going wrong here?

[2021-04-02 03:50] jliou369 opened #186 "Problem using M files"
Here is the oct2py document suggested ways of using m files with oct2py

so I wrote a  simple script to try it out, and among ways, only "octave.eval worked, but without the arguments, here is the code, note: I use Oct2Py so that I can use the logger at DEBUG level

from oct2py import octave, Oct2Py, get_log
import logging
config: **OS: Windows 10,**
            **oct2py:  5.2.0,**
            **P

[2021-04-05 06:19] KaranSohal commented on #185
So I found out that this error occurs when we have `clear all` command in our ".m" file

[2021-04-05 06:19] #185 closed

[2021-04-06 02:58] juka-lp opened #187 "Problem importing function"
I have files in .py where I execute functions of .m files, when I call these functions inside its own .py file, they work perfectly, but when I try to call another .py file in the same folder or another folder, it always returns the "does not exist in Octave workspace" error.

I have already searched for several places and tried different ways, without success.
I hope you can help me, hugs.

[2021-04-06 15:31] madbot69 opened #188 "OSError: [WinError 193] %1 is not a valid Win32 application"
Hi there,

Installed oct2py on 2 different Windows 10 machines. One works with oct2py fine, but the other machine keeps coming up with the OSError at :

`from oct2py import octave`

 The code is run from PyCharm. Same setup on both machines.

config: OS: Windows 10 (64 bit),
oct2py: 5.2.0,
Python: 3.8.7 (tried both 64 bit and 32bit), octave: 6.1.0 (64 bit)
Pycharm: 2020.3.5

Have re-installed pyth

[2021-04-10 08:42] madbot69 commented on #188
Eventually found a solution for my case, although I don't understand why it works on one computer but not the other.. but just in case this helps someone else with the same problem.

Octave was originally installed at the default location, ie. "C:\Program Files\GNU Octave\Octave" ... and so on.

Had a thought that perhaps the command to call Octave was getting tripped up with the space in the path

[2021-04-10 08:42] #188 closed

[2021-05-11 18:50] axelvonkamp opened #189 "temporary directories are not removed"
The temporary directory which Oct2Py() creates when no temp_dir parameter is given is not removed when the object is deleted. Automatic cleanup could be achieved by replacing
         `self.temp_dir = temp_dir or tempfile.mkdtemp()`
with
[code]
in core.py.

[2021-08-03 03:38] shadow1311 opened #190 "Problem regarding workspace command in python"
When I am using MATLAB API for python.

import matlab.engine
eng = matlab.engine,start_matlab()
eng.eval(‘x = 5’, nargout = 0)

It gives me ans. x = 5

eng.workspace[‘x’]
it gives me x = 5.0

but I am having problem Octave session

from oct2py import octave
octave.eval(‘x = 5’, nargout = 0)

it gives me x = 5 but,

octave.workspace[‘x’]
it gives me error : Typeerror: ‘workspace’ is not subscriptab

[2021-11-12 17:29] adityaapte opened #191 "Specifying temp_dir in %%octave magic cell"
Is it possible to specify temp_dir in %%octave octavemaic cell similar to oct2py. https://blink1073.github.io/oct2py/source/api.html

[2021-11-15 18:08] blink1073 commented on #191
Hi @adityaapte, not currently, would you like to submit a PR to add the [option](https://github.com/blink1073/oct2py/blob/f81139ba1fbc9473efaebebe6b3a6a80c863f913/oct2py/ipython/octavemagic.py#L164)?

[2021-11-15 21:02] adityaapte commented on #191
Thanks @blink1073 . Just created the PR. I am not sure when the temp_dir gets deleted.
https://github.com/blink1073/oct2py/pull/192

[2021-11-17 02:26] blink1073 commented on #191
Fixed by #192

[2021-11-17 02:26] #191 closed

[2021-11-17 21:57] blink1073 commented on #189
Thanks!  Fixed in #197

[2021-11-17 22:00] blink1073 commented on #187
Hi @juka-lp, I think you might need to use octave's `.addpath()` with an absolute path where the other file is located, something like `os.path.abspath(os.path.dirname(__file__))`

[2021-11-17 22:05] blink1073 commented on #183
Hi @arnodelorme, plotting is best-effort for this library and I only have bandwidth to support `gnuplot`.

[2021-11-25 02:53] blink1073 commented on #190
Hi @shadow1311, we don't support `workspace` directly, but you can use `octave.pull('x')`, which returns `5.0`

[2021-11-25 03:19] blink1073 commented on #186
Hi @jliou369, the default `nout` is 1, which causes an error when the script does not return anything.  If am able to run `oc.hello_world(nout=0)` using your example.  We used to try and infer `nout` from the call, but it turned out to be too brittle with the CPython interpreter.

[2021-11-25 03:20] blink1073 commented on #182
Hi @JuanJ67m, I have run the samples locally using 6.4.0 and they are up to date and working.  I don't have the bandwidth to record videos for this project,

[2021-11-25 03:20] #182 closed

[2021-11-25 03:24] blink1073 commented on #179
Hi @slowglow, I was able to run your sample just now with Octave v6.4.0 on macOS and get the expected output.  It could be an encoding issue on Windows.  I am not a Windows user any more, Windows support is best effort for this library.

[2021-11-25 03:30] blink1073 commented on #180
Hi @nickygb, can you please give more information about your setup by running `python -m octave_kernel.check` and pasting the output here? (`octave_kernel` is a dependency of this library).   I was able to run `octave.interp2` locally with Octave 6.4 on macOS.

[2021-11-25 03:31] blink1073 commented on #178
Hi @tverbeke, yes, I think it is the same underlying issue.

[2021-11-25 03:34] blink1073 commented on #160
Closing for lack of response.

[2021-11-25 03:34] #160 closed

[2021-12-09 12:48] PumpkinCheshire opened #200 "Upgrade to 5.3 on pypi, please"
The latest version of oct2py on pypi is still 5.2, please bump.
https://pypi.org/project/oct2py/

[2021-12-09 13:59] blink1073 commented on #200
Thanks for the reminder!  Done: https://pypi.org/project/oct2py/5.3.0/

[2021-12-09 13:59] #200 closed

[2022-01-04 02:56] #183 closed

[2022-01-08 14:35] yasirroni opened #207 "`eval`, `feval`, and `_feval` default `nout`"
It might be my sin, since I'm the one to code `max_nout` and modify `nout` as far as I remember.

But, as far as I remember too, I didn't change default value.

So, current behavior of `eval`, `feval`, and `_feval` is different.

`eval` << default `nout = 0`:

[code]

`feval` << default `nout = 1`:

[code]

`_feval` << default `nout = 0`:

[code]

___

Since run by func_name using `feval`, my last

[2022-01-08 14:39] yasirroni commented on #207
Furthere more, the doc on `eval` said that:

[code]

But, when I test it, it return `None`. Should we change the doc?

[2022-01-08 14:43] yasirroni commented on #207
I think it is the intended behavior for this one since the `.m` files intended to not returns `ans` anyway in `nargout = 0`.

[2022-01-08 14:50] yasirroni commented on #207
After more digging in understanding `eval`, it seems that eval intended as wrapper to send multiple commands. Thus, I think `nout = 0` is good default value.

But, since it will call `feval`, I think it should accept `nout = max_nout` (`str`). Problem is, the passed command might not be an `.m` file with function.

Maybe moving count `nout` in `feval` will solve the problem. I'll try this one.

[2022-01-08 16:28] yasirroni commented on #207
It seems that by design `feval` handle `.m` function while `eval` arbitrary command via builtin function of `evalin`. After some preparation of inputs, `feval` pass value to `_feval`, thus I think all `eval`, `feval`, and `_feval` default `nout` is good alread.

Thus I add https://github.com/blink1073/oct2py/pull/208 to solve issue if `feval` is used to run not built in function while using `max_n

[2022-01-08 16:29] #207 closed

[2022-01-12 06:24] yasirroni opened #211 "Enforce `eval` to return nothing"
It is a good by design that when `nout=0` eval return `ans`. But sometimes, we just want `octave` to display the value but we don't want to get the `ans`. This rare case happen when we want to see what is inside (a `field`) of `struct`. For example:

[code]

If used on the last line of `jupyter` `cell`, it will print twice. But sometimes, we prefer to see what does `octave` actually see and not us

[2022-01-12 07:41] yasirroni commented on #211
Solution:

Either skip read file from output file https://github.com/blink1073/oct2py/blob/3e6d6afdf2a3de6b819a2c0e9bae15dfcb313490/oct2py/core.py#L585 or edit `_pyeval.m` and add special case of -1 https://github.com/blink1073/oct2py/blob/3e6d6afdf2a3de6b819a2c0e9bae15dfcb313490/oct2py/_pyeval.m#L45

[2022-01-12 07:41] yasirroni commented on #211
Feedback before I try to implement it please @blink1073.

[2022-01-12 20:45] yasirroni commented on #211
Sure. I will try to implement it on `_pyeval.m` and hope it can make the code run faster due to skipping write and read on the bridge file.

[2022-01-12 22:28] blink1073 commented on #211
Great, thank you!

[2022-01-17 11:06] mserouar opened #212 "Pop up Octave kernel windows in Jupyter"
HI !

Each time I try to import Oct2Py on a Jupyter Lab/Notebook a Pop up Octave kernel windows appears (c.f figure). I'm on Linux.
Stopping any Jupyter cells and doing nothing, except **TIMEOUT: Timeout exceeded**. Is there a known way, to run %inline jupyter on Python (Oct2py) or directly on Octave kernel by jupyter ?

Thanks a lot !

`from oct2py import Oct2Py`
`oc = Oct2Py()`

![image](https:/

[2022-01-17 13:00] #212 closed

[2022-01-18 18:22] locastre opened #214 "%%octave magic cells not working in oct2py 5.4.2"
Hi, we've installed the newest oct2py v.5.4.2 in a Google Colab notebook running Python v3.7.12. We load the  extension to use cell magics via `%load_ext oct2py.ipython`. When we try to run `%%octave` magic cells, the processes in the cell will run successfully, but after completion it will throw an error referring to a random tmp directory (not the one which oct2py is using):

[code]
This error d

[2022-01-20 15:31] locastre commented on #214
Could this bug be from the `octave_kernel` update rather than `oct2py`?

[2022-01-20 20:30] locastre opened #215 "size limit for .MAT and variables?"
Is there a known size limit on the variables that can be passed between Python and the Octave workspace, or issues with parsing complex structs? When we attempt to load our complex multi-cell, multi-datatype variable from MATLAB files via oct2py that are larger than ~120MB, we receive an error message.

For instance, with the following call:

`var1 = octave.load('bigfile.mat')`

gives the followin

[2022-01-21 15:47] blink1073 commented on #215
We're saving Matlab v6 format [here](https://github.com/blink1073/oct2py/blob/b73c7fb555b5ab137c0c6fde1862562ab956ab70/oct2py/_pyeval.m#L97).   Moving to a higher protocol version would require us to depend on `h5py`, since we're using [`scipy.loadmat`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.io.loadmat.html).

[2022-01-21 15:49] blink1073 commented on #215
It looks like we could move up to 7.2 without depending on `h5py`.  If you want to try changing the lines in `_pyeval` locally to use `v7` and see if that addresses the issue we can perhaps bump to that version.

[2022-01-21 15:51] blink1073 commented on #214
No, this is an issue with `oct2py`, but I just tried on OSX and it works fine for me.  I don't currently have access to a Windows machine.

[2022-01-21 17:33] locastre commented on #214
Thank you very much for your reply. We will test it out on our local Mac machine.

Do you have access to test oct2py in the Linux on https://colab.research.google.com/? We experienced the problem in that environment too. If it is of help, here is the notebook we use, for reference.

https://github.com/cerr/octave-colab/blob/master/octave_deploy.ipynb

[2022-01-23 13:26] yasirroni commented on #214
[code]

[code]

[code]

[code]

I can't replicate the error on windows 10

[2022-01-23 13:27] yasirroni commented on #214
@locastre How about using `oct2py` class?

[2022-01-24 14:42] blink1073 commented on #214
Should be addressed by https://github.com/blink1073/oct2py/pull/216

[2022-01-24 14:58] #214 closed

[2022-01-27 01:47] locastre commented on #215
We've been trying more testing on our end. We have determined that the issues probably isn't due to the size of the variable/MAT, but instead it is because of the complex structure of the cell-type object we are working with. Our software `CERRx` generates a cell array which we call `planC` and has many substructs and fields of different data types to represent images and associated metadata

If i

[2022-01-28 22:22] blink1073 commented on #215
Thanks, I didn't get a chance to look at this this week, I'll shoot for early next week.

[2022-01-29 21:44] blink1073 commented on #215
This appears to be a limitation in `octave` itself:

[code]

I tried a few other [save](https://octave.sourceforge.io/octave/function/save.html) options as well with no luck.

What does work is this:

[code]

[2022-02-03 18:44] jcollignon opened #218 "How do I use imported Octave functions in oct2py?"
Hi,
Recently I started using Octave to run Matlab scripts on Google Colab's iPython notebook.  Turns out I need to use functions within Octave's "image" package which doesn't come with the main installation of Octave.  Does oct2py have a way of installing and loading missing Octave packages that would normally need to be downloaded from the Octave sourceforge?
Thank you!

[2022-02-03 20:05] blink1073 commented on #218
Hi @jcollignon, assuming the Octave is set up properly to install packages, you should be able to run:

[code]

If you get an error about C++, then Octave itself isn't set up for compilation on Colab.

[2022-02-03 20:37] jcollignon commented on #218
I tried using the above, but Colab throws this error:
`UsageError: Cell magic %%octave not found.`
Earlier I was able to use simpler Matlab scripts that I know have functions only within the main distribution of Octave, but the work I'm doing needs to go slightly beyond that.  An example Matlab script `octave_test.m` I'm trying to call is below:
[code]
Trying to run this script throws this error:

[2022-02-03 21:03] blink1073 commented on #218
In order run the octave magic, you have to run `%load_ext oct2py.ipython` in a cell first.  Then you can run the cell contents I gave above.   If you're using an `Oct2Py` object, you can call `.eval("pkg install -forge image")` on it to install the package.

[2022-02-24 11:23] Xluo-lc opened #219 "error: 'upfirdn' undefined near line 121, column 121"
I call the resample .m in python using oct2py, but this error occurred, but upfirdn.oct existed. Is there any solution?

[2022-02-24 18:21] blink1073 commented on #219
Hi @Xluo-lc, I'm not sure.  I just tried with GNU Octave, version 6.4.0 on MacOS, and running the following works:

[code]

Are you able to run `upfirdn` from Octave itself?

[2022-02-25 01:27] Xluo-lc commented on #219
![image](https://user-images.githubusercontent.com/50770198/155635985-a7c2d6fe-2f32-4e86-8a55-296549bf669d.png)
I can use upfirdn in octave

[2022-02-25 01:29] Xluo-lc commented on #219
![image](https://user-images.githubusercontent.com/50770198/155636234-f0a0f8d9-ff33-449c-ad55-af9bb988e3b6.png)
But I can't use upfirdn in python

[2022-02-25 01:39] Xluo-lc commented on #219
![image](https://user-images.githubusercontent.com/50770198/155637125-d4290edd-ee72-4a9b-85c5-a2ff848e8dd0.png)
I solved this problem by adding the path. Why can't oct2py find upfirdn?

[2022-02-25 23:04] blink1073 commented on #219
I'm guessing the launcher used on Windows does some PATH changes for you that aren't handled when you use the EXE.  I am not a Windows user.

[2022-03-09 09:01] bobnal opened #220 "Struct fieldnames that start with number are ignored"
I found out that, passing a python dict or octave struct to an octave function, fieldnames that start with number are ignored.

Here an example.
python script
[code]

octave function:
[code]

the output is:
Structure inside python
{'word': 100, '3': 200, '4': 300, '4test': 400, 'test4': 500}

Structure inside octave function
  scalar structure containing the fields:

    word = 100
    test4 = 500

[2022-03-09 12:39] blink1073 commented on #220
I think it is a limitation in `scipy.savemat`.  Here's the value we're passing to it in my local experiment:

[code]

[2022-03-24 05:38] yasirroni opened #221 "Bug: PULL-PUSH-PULL 1D Column vector will convert into 1D Row Vector"
This is working just fine:

[code]

But, this will convert into `(1,n)`
[code]

[2022-03-24 05:45] yasirroni commented on #221
After investigating, the problem located on `m.push()`

[code]

[2022-03-24 05:46] yasirroni commented on #221
A fix would be force 1D Cell push as 2D Cell push or fix it while octave reading (the latter is better)

[2022-03-24 08:23] yasirroni commented on #221
Should we change it to atleast 2D or add special case for Column vector?

https://github.com/blink1073/oct2py/blob/e8ebd99c4fa3d667e871f3f01ee9f6652a29949f/oct2py/io.py#L224-L226

[2022-03-24 10:04] blink1073 commented on #221
I think special casing Column vector makes sense.

Adding a few tests that ensure we preserve the shape for `(n,1)` and `(1,n)` cells would help as well.

We should be able to round trip these cells without losing the shape, that was an oversight on my part.

[2022-03-25 10:39] josepalos commented on #189
Currently, using Python 3.8.5, a ResourceWarning is raised when the temporary directories are automatically deleted.
Could you please reopen this issue?

The exact warning is:

[code]

This can be reproduced in Python 3.8.5 with a script only containing the line `from oct2py import Oct2Py`

[2022-03-25 11:00] blink1073 commented on #189
Thanks for the heads up!

[2022-03-26 06:04] yasirroni opened #223 "push will push Cell"
While trying to solve https://github.com/blink1073/oct2py/pull/222, I've found out that a simple push will push newly created Cell object. Why? And where is it called?

Recreate bug:

[code]

[code]

[2022-03-26 06:56] yasirroni commented on #223
Further inspections, pull also go through Cell __new__ method but didn't create a Cell object.

[2022-03-27 09:57] blink1073 commented on #223
The `__no_value__` cell is a sentinel value created in [`_pyeval.m`](https://github.com/blink1073/oct2py/blob/e8ebd99c4fa3d667e871f3f01ee9f6652a29949f/oct2py/_pyeval.m#L20).  We use it is a stand-in for [`None`](https://github.com/blink1073/oct2py/blob/09d3ee077bd62c2d0d279b311a8f74bedf97429d/oct2py/core.py#L595).

[2022-03-30 02:59] yasirroni opened #227 "[Question] Properly end session"
With the following code:

[code]

We can see that each call of `Oct2Py()` calls a new session. This is good.

But, if we didn't properly end the session, what happen to the memory and process of octave? With above example,

[code]

[2022-03-30 04:52] yasirroni opened #228 "Using `system ("cat ~/.octaverc")` on Winows"
I'm investigating path on Oct2Py (Windows)

I've found out that I can execute `system ("cat ~/.octaverc")` from inside Octave editor, but not with `m.eval('system ("cat ~/.octaverc")')`. Any idea?

[2022-03-30 09:47] blink1073 commented on #227
Good point, we should probably add a `Oct2Py.__del__` method that calls `Oct2Py.exit`

[2022-03-30 15:10] yasirroni commented on #227
If I simply restart the python kernel (ipython) or close the python on terminal (using exit()), I'm all good right?

This is a simple question.

____

Working on this FOSS project make me learn lots of Python, haha. But I might skip for this fix job for now.

[2022-03-30 15:16] yasirroni commented on #227
Hmm, after some reading, is it this easy? https://github.com/blink1073/oct2py/pull/230

[2022-03-30 15:17] blink1073 commented on #227
No, I think we were actually leaking octave processes because we didn't have an explicit cleanup.  Thanks for the fix!

[2022-03-30 15:30] #227 closed

[2022-04-18 09:00] pirofti opened #237 "initialization: graphics_toolkit: 2004h toolkit is not available"
Hi,

I just updated `oct2py` and `Octave` on my system and I get the following error in `python` and `jupyter` whenever I try to execute an `oct2py` command.

[code]

The problem is, I think the communication between `oct2py` and `Octave`.
[code]

I get this with any other method that might be the first to run after `oct2py` is initialized (e.g. `available_graphics_toolkits`, `ones`). The faulty s

[2022-04-18 10:19] blink1073 commented on #237
Hi @pirofti, what OS and what version of Octave are you using?  It looks like we need to add handling for those control characters.  This issue looks relevant: https://github.com/pexpect/pexpect/issues/669

[2022-04-18 10:28] pirofti commented on #237
@blink1073, I am using an `ArchLinux 5.17.3-arch1-1` and `Octave 7.1.0`. Both updated today.

[2022-04-18 10:31] pirofti commented on #237
This [workaround](https://github.com/pexpect/pexpect/issues/669#issuecomment-758109973) from the issue you mentioned, indeed, fixes the issue for me.

[2022-04-18 10:48] blink1073 commented on #237
Great, thanks for verifying.  I think that might be the best we can do, based on this [response](https://github.com/pexpect/pexpect/issues/669#issuecomment-868950111).

[2022-04-18 11:04] pirofti commented on #237
Right. I don't know what this new feature is supposed to do, but disabling it everywhere seems wrong also. Anyway you decide to go, it should probably be in the documentation as well so that us users can find it quickly.

Thank you for looking into this!

[2022-05-03 20:22] WiserOrb opened #239 "Run doesn't create new variables in the octave environment"
Hi, when executing .m files with `octave.run('test')`, I cannot pull variables from the octave syntax that the script should have populated.
Is this the expected behavior? When I use the same command in octave it keeps the variables.
Also if I use `eval` it populates the variables, but it too has problems because it cannot plot graphs, a requirement in my application.
Am I doing anything wrong?

t

[2022-05-03 22:11] blink1073 commented on #239
Hi @WiseroOrb, thanks for the kind words.

Yes, this is an unfortunate limitation of the way we're evaluating the script.  If you need a result you'd have to use a function.  Something like:

test.m

[code]

test.py

[code]

Which gives:  `[[1. 2. 3.]]`

[2022-05-04 12:48] WiseroOrb commented on #239
Hi @blink1073 ,
So I'm in the process of converting the script in the way you suggested, however I've encountered a major roadblock:  I need to return an object from the `statistical` package, of class `gmdistribution`. Oct2py trows some warning when I try to return it, and later fails to use it in other functions.
I think the origin of the problem is because this class doesn't implement saveobj.

[2022-05-04 13:27] blink1073 commented on #239
The only other option I can see if there is if you can serialize the gmdistribution data yourself by extracting properties into a cell object.

[2022-05-05 22:48] jcollignon commented on #218
It's been a while since I last posted, but I want to say thanks for your help in resolving this problem.  I was able to successfully get the package loaded up on Colab after running the above, and have the tar.gz files for the package downloaded from the sourceforge in case I need to install them.

[2022-05-05 22:48] #218 closed

[2022-05-05 22:54] blink1073 commented on #218
Great, thanks for the follow up!

[2022-05-06 21:32] WiseroOrb opened #240 "Conflict with opencv"
Hi, I've encountered a breaking bug when trying to use oct2py and opencv (`cv2`)
It crashes if:

1. import cv2 before oct2py
2. import oct2py, import cv2, calling Oct2Py()

How it breaks
[code]

[code]

[code]

Python version:  3.10.4
oct2py: 5.5.1
octave: 6.4.0
opencv: 4.5.5.64

[2022-05-06 22:05] blink1073 commented on #240
What operating system?  It seems to be working for me on macOS 12.3.1 with packages installed from `conda-forge`, except for Octave, which I got from `homebrew`.

Python version: 3.10.4
opencv: 4.5.5
octave: 6.4.0

[code]

[2022-05-06 22:06] WiseroOrb commented on #240
Ubuntu 22.04

[2022-05-09 13:44] WiseroOrb commented on #240
No, I get an EOF exception

[code]

[2022-06-23 18:47] prowe12 opened #248 "bracketed paste \x1b[?2004h issue"
I just installed octave and oct2py on a new Mac with the m1 chip and MacOS Monterey Version 12.4.

I am getting the error:

Traceback (most recent call last):
  File "/Users/prowe/git-repos/mpl-processing/tests/test_oct2py/test_oct2py.py", line 17, in <module>
    oc.addpath(os.getcwd() + '/tests/test_oct2py/')
  File "/opt/homebrew/lib/python3.9/site-packages/oct2py/core.py", line 758, in __getat

[2022-06-23 21:52] blink1073 commented on #248
Hi @prowe12, this is a known issue, the workaround is here: https://github.com/pexpect/pexpect/issues/669#issuecomment-758109973

[2022-06-24 00:04] prowe12 commented on #248
Thank you so much!  It worked.  I'm sorry I missed the known issue - I did spend a lot of time looking but didn't know the keywords to use.

[2022-06-24 01:18] blink1073 commented on #248
No worries!  Yeah it is a hard thing to search for. 😃

[2022-07-27 21:45] christianmkuss opened #253 "Memory Leak"
This may be related to #227 but it appears there is a memory leak which becomes an issue in long running applications. I noticed this while developing inside a vscode devcontainer based on the python 3.10 docker image, however reproduced it on my Ubuntu 18.04 machine running python 3.6. In both cases, I am using oct2py version 5.5.1 (latest).

My application is long running and continuously spawns

[2022-11-16 11:13] mludwini opened #275 "Problem with calling function; too many outputs"
Hi, after I updated Octave from 6.4 to 7.2 I get an error while trying to call function:

`octave.in_data_gen(a, 'A.txt', L, N) `

Output:
[code]

The function was working fine before the update and is working fine when being used in Octave directly.  Function is very simple, doesn't return anything; only does some type cating and writes a txt file.

I've done some more testing and the problem onl

[2022-11-24 13:13] mludwini commented on #275
Ok, I've been able to fix the issue by adding an additional argument when calling function `nout=0`. Presumably I should  have thought about it earlier. Sorry for making fuss. Hope that this will help anyone migrating their code to newer version of octave.

[2022-11-24 13:14] #275 closed